.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
.swal-footer{
  text-align: center;
}
.avisoVendaInterna{
  padding: 10px;
  border: 1px solid red;
  background: #ff00007d;
  border-radius: 10px;
  display: block;
  font-size: 21px;
  margin: 10px;
  font-weight: bold;
}
.avisoErroModulo{
  padding: 18px;
  display: grid;
}
#modalAdicionais .modal-content, #modalSabores .modal-content{
  max-height: 500px;
  overflow: auto;
}
.avisoTipoProduto{
  padding: 10px;
  border: green;
  background: #3fff006b;
  border-radius: 15px;
  width: max-content;
  display: none;
  margin-bottom: 10px;
}
.m-b-30{
  margin-bottom: 30px;
}
.botaoVisualizarPedido{
  font-size: 42px;
  margin: 0px 35px;
  color: green;
  cursor: pointer;
}
.d-contents{
  display: contents;
}
.botaoAceitarPedido{
  font-size: 40px;
  margin: 0px 35px;
  color: green;
  cursor: pointer;
}
.horarioAtendimento,.horarioAgendamento{
  margin: 6px 0px;
}
.removerLinhaHorario{
  margin-left: 10px;
  color: #d70000;
  cursor: pointer;
}
.addSubHorario{
  font-size:13px;
  color: #0000EE;
  cursor: pointer;
}
.botaoImprimirEtiquetaPedido{
  font-size: 12px;
  margin-left: 6px;
  width: 50px;
  display: block;
  float: right;
}
.iconeImprimirEtiqueta{
  float: left;
  margin-top: 3px;
}
.botarImprimirPedido{
  font-size: 34px;
  margin-left: 35px;
  cursor: pointer;
  display: flex;
  color: blue;
}
.botaoNegarPedido{
  font-size: 40px;
  cursor: pointer;
  color: red;
}
.botaoAceitarTodosPedidos:hover{
  background-color: green;
  color: #FFF;
}
.botaoNegarTodosPedidos:hover{
  color: #FFF;
  background-color: red;
}
.conteudoPedido{
  display: none;
}
.botaoNegarTodosPedidos{
  background: red;
  color: #FFF;
  width: 40%;
}
.botaoAceitarTodosPedidos{
  background: green;
  width: 40%;
  color: #FFF;
}
.modalPedidoPendente{
  border: yellow 8px solid;
}
.itensFilhos{
  padding: 0px 15px !important;
}
.obsPedido{
  margin-bottom:20px;
  margin-left: 30px;
  display: block;
  padding-top: 10px;
}
.camposObsPedido{
  display: none;
}
.conteudoModalPedido .card-tools{
  display: flex;
  align-items: center;
}
.itensFilhos.nav-treeview>.nav-item>.nav-link>.nav-icon{
  font-size: 0.5rem;
}
.containerImpressaoEntregadores{
  cursor: pointer;
  width:15%;
  position:absolute;
  left:20px;
}
.containerFiltrar{
  padding-left: 40px;
}
.retirarRelatorioPedidos{
  padding-left: 5px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.verSenha,.esconderSenha,.cuponsUtilizados,.verQuemUsou,.etiquetaAncora,.verEntregas{
  padding-left:5px;
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}
.itemCep{
  padding-top: 5px;
}
.botoesCarrinhoVendaInterna{
  width: 100%;
  background: #4ca2ff;
  border: 1px solid #bab6b6;
  color: white;
  font-weight: bold;
  margin-top:6px;
}
.limparVendaInterna{
  margin-top: 25px;
  border-radius: 2px;
  background: #fe2b3e;
  border: 1px solid #bab6b6;
  color: white;
  font-weight: bold;
}
.pagAtual{
  padding: 4px;
  background: #CACACA;
  border-radius: 2px;
  margin: 0 10px;
}

.botoesPaginacao{
  background: #007bff;
  border-radius: 2px;
  border: 1px solid #a19e9e;
  color: white;
}

.containerPaginacao{
  padding-bottom: 20px;
}

/* css etiqueta */
html,body{
	margin:0px;
	padding:0px;
}
.etiqueta{
	width: 289px;
	height: 431;
	margin:0 7px;
	overflow: hidden;
	z-index: 1;
	float:left;
	font-family: arial;
}
.etiqueta .bloco:first-child{
	margin-top:0;
}
.etiqueta .bloco{
	width: 96%;
	font-size:0.74em;
	color:#C00;
	border: 1px solid #000;
	padding: 5px;
	margin: 5px 0 0 0;
	position:relative;
}
.etiqueta .bloco .txtEtiqueta{
	color:#000;
	margin:3px 0 0 0;
}
.etiqueta .bloco .imgEtiqueta span.inativo{
	display:none;
}
.etiqueta .bloco .imgEtiqueta span.ativo{
	display: table-cell;
}
.etiqueta .bloco .imgEtiqueta span{
	vertical-align:middle;
	display:table-cell;
}
.etiqueta .bloco .imgEtiqueta{
	width: 100%;
	height:110px;
	text-align: center;
	display:table;
	vertical-align:middle;
}
.etiqueta .bloco .imgEtiqueta img{
	vertical-align:middle;
}
.etiqueta .tracejado{
	width: 100%;
	border-bottom: 2px dashed #000;
	margin: 5px 0 0 0;
}
.impressora,.impressoraalerta{
	float: right;
  cursor: pointer;
}
.selos{
	text-align: left;
	float: left;
}
@media print {
	.selos, .impressora {
		visibility: hidden;
	}
}

.fancyVerEtiquetaMultiestoque{
	padding-left: 30px;
	font-size: 11px;
	color: blue;
	cursor: pointer;
}
.fancybox-slide--iframe .fancybox-content{
	overflow: hidden !important;
	border-radius: 10px !important;
}
