/* Custom Stylesheet */
/**
	* Use this file to override Materialize files so you can update
	* the core Materialize files in the future
	*
	* Made By MaterializeCSS.com
*/
html {
    min-height: 100%;
  }
body{
	min-height:100%;
}
.green-text {
    color: #73c501!important;
}
.red-text{
	color: #da4f49!important;
}
.row{
	margin-bottom: 1rem;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #572e68;
    -webkit-box-shadow: 0 1px 0 0 #572e68;
    box-shadow: 0 1px 0 0 #572e68;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	margin:0;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #572e68;
}
.btn-floating{
	background-color:#572e68;;
}
h1 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.68rem 0 1.68rem 0;
}
h5 {
    font-size: 1.2rem;
    line-height: 110%;
    margin: 0 0 1rem 0;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.branco{
	background-color: #fff!important;
}
.roxo {
    background-color: #572e68!important;
}
.verde-texto{
	color: #76ac23!important;
}
.roxo-texto{
	color: #572e68!important;
}
.branco-texto {
	color:#fff!important;
}
nav .brand-logo {
	height:100%;
}
nav .brand-logo img{
	height:100%;
	padding:8px 0;
}
.material-icons{
	display: inline-block!important;
    vertical-align: bottom;
}
#nav-mobile .material-icons{
    margin-right: 5px;
    font-size: 14px;
    line-height: 15px;
    height: auto;
    width: auto;
    display: inline-block!important;
    float: none;
    vertical-align: text-bottom;
}
.sidenav li > a {
    line-height: 18px;
    padding: 15px;
	height:auto;
}
#index-banner{
	background-color: #f1f1f1;
	margin-bottom:0.75rem;
}
#logo-container{
	padding:0 10px;
}
.collapsible-header{
	background-color: #f1f1f1;
	text-transform:uppercase;
	font-weight:500;
	position:relative;
}
.collection-item .title{
	font-weight:bold;
}
.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 90px;
    position: relative;
}
.collection .collection-item.avatar img.circle{
	width:60px!important;
	height:60px!important;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #000;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.seta{
	position: absolute;
    right: 0;
}

.page-footer  li{
	margin-bottom:10px;
}
.page-footer li .material-icons{
	font-size:18px;
}
p.preco {
	font-weight:bold;
	color: #7b7b7b;
}
span.de-preco {
    text-decoration: line-through;
	font-size:12px;
}
span.por-preco{
	font-size:16px;
}
.collapsible-body{
	padding:10px;
}
.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    width: 24px;
    height: 24px;
	cursor:pointer;
}
.roxo.card-content.white-text {
    padding-top: 10px;
    padding-bottom: 6px;
}
p.descricao{
	padding-right:20px;
}
.modal .modal-content{
	padding-bottom:0;
}
.cep-form{
	margin-bottom:0;
}
.modal .modal-footer {
    padding-left: 24px;
	padding-right:24px;
}
.modal-content h4{
	color: #572e68;
	font-size:18px;
	font-weight:bold;
}
.modal-content .info{
	font-size:16px;
	margin-bottom:0;
}
.side .row{
	margin-bottom: 1rem;
}
#endereco-usuario{
	display:none;
}
.card-content h5{
	margin-top:1rem;
}
.cinza{
	background-color:#f1f1f1;
}
.total span.left{
	font-weight:bold;
	font-size:13px;
}
.total span.right{
	font-size:13px;
}
.fechar-pedido{
	background-color:#73c501!important;
	width:100%;
	margin-bottom:1rem;
}
.cancelar-pedido{
	background-color:#da4f49!important;
	width:100%;
}
#nav-mobile .total span{
	color: #000;
	font-size:12px;
	line-height:30px;
}
#nav-mobile .total{
	padding: 15px;
}
#nav-mobile .total .row{
	margin-bottom:0;
}
#nav-mobile p{
	line-height:14px;
	color: #000;
}
.sidenav {
    position: fixed;
    width: 90%;
}
span.qtd{
	padding-left:3px;
	padding-right:3px;
	font-size:14px;
}
.card .card-content {
    padding: 10px;
}
.valor{
	font-size:14px;
}
.nome-produto{
	margin-left:5px;
	font-size:14px;
}
strong {
    font-weight: 700;
}
.qtd-box .material-icons{
	font-size:20px;
}
.cancelar-pedido{
	margin-bottom:1rem;
}
.card-content.box-fechamento p{
	margin-bottom:0.2rem;
}
.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.card .card-content .card-title  i{
	font-size:20px;
}
.add-item, .rem-item{
	cursor:pointer;
}
.pinned{
	margin-top:1rem;
}
@media(min-width:992px){
	p.descricao{
		padding-right:100px;
	}
	.card{
		margin-top:0;
		margin-bottom:0;
	}
	p.preco {
		position: absolute;
		right: 50px;
		top: 0;
		bottom: 0;
		margin: auto!important;
		float: right;
		display: inline;
		height: 50px;
	}
	span.de-preco {
		display: block;
	}
	#modal-cep.modal{
	width:30%;
}
#modal-endereco.modal{
	width:40%;
}
}

#modal-pedido.modal{
	max-height: 96%;
}
@media only screen and (max-width: 992px){
	.modal {
		width: 96%;
		top: 2%!important;
		max-height:100%;
	}
}
@media (max-width:767px){
	#carrinho{
		display:none;
	}
	h1.header {
		font-size: 21px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	h5.header {
		font-size: 15px;
	}
	#download-button.btn-large {
		height: 44px;
		line-height: 44px;
		font-size: 14px;
		padding: 0 24px;
	}
	.collapsible-body{
		padding:0;
	}
	.collection .collection-item.avatar .title {
		font-size: 12px;
	}
	.collection .collection-item.avatar img.circle{
		width:45px!important;
		height:45px!important;
	}
	.collection .collection-item.avatar {
		padding-left: 75px;
	}
	.collection-item avatar p{
		font-size:12px;
	}

}
.dropdown-content {
	position: absolute !important;
}
.autocomplete-content {
    position: absolute;
}
.input-field label{
    pointer-events: all !important;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
    padding-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
	margin-left:0;
}
#cardapio{
	margin-top: 1rem;
}
.page-footer .footer-copyright{
	background-color:#fff;
	color: #000;
}
.page-footer .row{
	margin-bottom:0;
}
.page-footer p{
	margin-top: 0;
}

@media (max-width:767px){
	.container{
		width: 100%;
	}
	.page-footer p{
		font-size:12px;
	}
	nav {
		height: 45px;
		line-height: 45px;
		/*position: fixed;*/
		top: 0;
		z-index:1002;
	}
	#cardapio {
		margin-top: 1rem;
	}
	.nav-wrapper.container .row{
		margin-bottom:0;
	}
	nav .sidenav-trigger i {
		height: 45px;
		line-height: 45px;
	}
	nav .sidenav-trigger {
		height: 45px;
	}
}

/*#cardapio{
	position:relative;
	}
	#carrinho{
	width:inherit;
	}
	.pin-top, .pin-bottom{
	position:absolute;
}*/
.aberto{
	padding: 6px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
	background: #73c501!important;
}
.fechado{
	padding: 6px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

#carrinho-mobile{
	position:fixed;
	bottom:10px;
	right:0;
	left:0;
	margin:auto;
	display:block;
}
@media (min-width:768px){

	#carrinho-mobile{
		display:none;
	}
}
#carrinho{
	margin-bottom:0;
}
@media (max-width:767px){
	.card .card-content .card-title {
		display: block;
		line-height: 15px;
		margin-bottom: 0;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
	}
	#nav-mobile .card{
		margin-top:0;
		margin-bottom:0;
	}
	#nav-mobile .roxo.card-content.white-text {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	#nav-mobile .carrinho-box img{
		width: 40px;
	}
	.sidenav{
		height:100%;
		padding-bottom:0;
		overflow-x:hidden;
		overflow-y: auto;
	}
	.footer-copyright .container{
		font-size:12px;
	}
	#nav-mobile .card-content h5{
		font-size: 14px;
	}
}

#search {
    height: 45px;
    float: left;
    position: relative;
    z-index: 1;
    margin: 0 18px;
}
#search i {
    height: 45px;
    line-height: 45px;
}
.emoji {
    background-image: url(../img/emoji.png);
}
.saboreando{
	background-position: -264px -0px;
	width: 24px;
    height: 24px;
    line-height: 24px;
	margin-right:5px;
	font-size: 138.5%;
    display: inline-block;
    _display: inline;
    text-align: center;
    overflow: hidden;
}
.toaster{
	background-color:#fff;
	color: #572e68;
	font-weight:bold;
	font-size:12px;
}
#endereco-topo{
	display:none;
}
.modal{
	background-color: #fff;
}
.forma-pagamento label:first-child{
	margin-right:10px;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #572e68!important;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid #572e68!important;
}
.modal-close{
	color: #572e68;
}
.verde{
	background-color: #73c501!important;
}
.vermelho{
	background-color: #da4f49!important;
}

td, th {
    padding: 10px;
}
.clear{
	clear: both;
}
#nav-mobile .card{
	-webkit-box-shadow: none;
	box-shadow: none;
}
@media(max-width:767px){
	.card .card-content {
		padding: 6px 10px;
	}
	#nav-mobile p {
		font-size: 12px;
	}
	#nav-mobile .total {
		padding: 6px 10px;
	}
	span.qtd {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 12px;
	}
	#nav-mobile .material-icons {
		margin-right: 0;
		font-size: 18px;
		line-height: 15px;
	}
	#nav-mobile .total span {
		line-height: 30px;
	}
	nav{
		line-height: 35px;
	}
	.nome-produto {
		margin-left: 5px;
		font-size: 12px;
	}
	.valor {
		font-size: 12px;
	}
	.cancelar-pedido, .fechar-pedido{
		font-size:12px;
		margin-bottom: 6px;
	}
	.collapsible-header {
		font-size: 12px;
	}
	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
		line-height: 1.5em;
		font-size:12px;
	}
	.select-wrapper input.select-dropdown{
		line-height: 1.5em;
		font-size:12px;
	}
	.dropdown-content li > a, .dropdown-content li > span {
		font-size: 12px;
		line-height: 1em;
		padding: 10px 12px;
	}
	.dropdown-content li {
		min-height:35px;
	}
	p.descricao{
		font-size:12px;
		padding-right:25px;
		line-height:1em;
	}
	span.de-preco {
		margin-right: 10px;
	}
	.collection p.center {
		font-size: 12px;
	}
	#modal-pedido .input-field {
		position: relative;
		margin-top: .75rem;
		margin-bottom: .75rem;
	}
	.modal .modal-content {
		padding: 10px;
	}
	table{
		font-size: 12px;
	}
	#modal-pedido{
		font-size: 12px;
	}
	#modal-pedido label{
		font-size:12px;
	}

}
#modal-resumo h5{
	font-weight:bold;
	font-size:16px;
	margin: 15px 0;
}
tr{
	border: 1px solid rgba(0, 0, 0, 0.12);
}
td, th{
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}
th{
	text-align:center;
}
.tabela-produtos td{
	text-align:center;
}
.tabela-total td:last-child{
	text-align:center;
}
table{
	background: rgba(241, 241, 241, 0.34);
}
.loading{
	display:none;
}
.loading.show{
	display:block;
}
.btn-cupom{
    width: 100%;
    margin-bottom: 1rem;
}
.cinza.card-content.total .row:last-child{
	margin-bottom:0;
}
.form-cupom .input-field{
	margin-top:0;
	margin-bottom: 1rem;
	border-bottom: 1px solid #9e9e9e!important;
}
.entrega{
	display:none;
}
