.featured-items {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    overflow: visible;
}
.containerDescPreco{
  display:flex;
  justify-content: space-between;
}

/* .properties-modal-body .scroll-container, .items-list, .featured-items {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-flex-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
} */
/* .items-list, .featured-items {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
} */
/* ul.item-properties-list .mdl-checkbox__label, .properties-modal-body .scroll-container, .properties-modal-body .price-container, .items-list, .items-list-item, .featured-items-item, .featured-items, .fixed-status-bar .bar--collapsed {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
} */
.products-section__head__description, .featured-items__head {
    padding: 0 10px 10px 0;
    position: relative;
    color: #292f31;
    width: 100%;
    height: auto;
}
.products-section__head__description .title, .products-section__head__description .title--actionable, .products-section__head__description .title-left, .featured-items__head .title, .featured-items__head .title--actionable, .featured-items__head .title-left {
    color: #31434a;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;
}
.items-list-featured {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
}
/* .items-list-item, .featured-items-item {
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    min-height: 96px;
    height: auto;
    cursor: pointer;
    width: 48%;
    margin: 7px 13px 7px 0;
    overflow: hidden;
    position: relative;
    -ms-transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
} */
/* .items-list-item, .featured-items-item, .items-list-item .item__left-side, .featured-items-item .item__left-side, .featured-items-item .item__mid-description {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-flex-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
} */
/* .items-list-item, .featured-items-item, .items-list-item .item__left-side, .featured-items-item .item__left-side, .featured-items-item .item__mid-description, .fixed-status-bar .bar--collapsed {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
} */
.items-list-featured .item-content {
    display: grid;
    grid-template-columns: 1fr auto;
}
.items-list-featured .item__left-side {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.items-list-featured .featured-tag {
    padding: 12px;
    color: #fff;
    padding: 12px 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.slick-slide {
	height:100px;
	width:100px;
}
.modalMontagemProduto{
	padding-top: 10%;
}
.modalMontagemProduto.in{
	display: flex !important;
	padding-top: unset;
	align-items: center;
}
.slick-slide img {
	height:100px;
	width:100px;
}
.customSwalBtn{
	background-color: rgba(214,130,47,1.00);
  border-left-color: rgba(214,130,47,1.00);
  border-right-color: rgba(214,130,47,1.00);
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 30px 5px 0px 5px;
  padding: 10px 32px;
}
.containerChamadaEnderecoMobile{
	display: none;
}
.icon-arrow-down-mobile{
	right: 30px;
	font-size: 32px;
  position: absolute;
}
.boxEnderecoMobileInforme{
	display: none;
}
.icon-arrow-down-mobile.open{
  transform: rotate(180deg);
  transition: transform 0.4s linear;
}
.icon-arrow-down-mobile{
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}
.color-settings-secondary.color-settings-secondary.color-settings-secondary {
    color: #00793d
}
.containerCarrinhoMobile{
	display: none;
}
.itemCarrinhoMobile{
	width: 33%;
	text-align: center;
	margin: 10px 0px;
}
.containerLogoRodapeDesktop{
	padding-top: 6px;
}
/* css box minimizar */
.containerPedidoPendenteFlutuante{
	text-align: center;
	position: fixed;
	font-family: cursive;
  z-index: 999;
  right: 30px;
  bottom: 30px;
	cursor: pointer;
}
.divPedidoPendenteFlutuante{
  background: white;
  border-radius: 50%;
	width: 68px;
	height: 68px;
	margin: 0 auto;
}
.divPedidoPendenteFlutuante img{
	padding: 4px;
	width: 68px;
	height: 68px;
}
.containerBotoesRodapeMobile .mdl-button{
	padding: 0px;
	display: none;
}
.logoQuandoMobile{
	display: none;
}
.btnFecharPedido{
	background-color: #6dbe45;
}
.btnAgendarPedido{
	background-color: #009fb5;
}
.containerBotoesRodapeMobile .mdl-button:first-child{
	float: left;
}
.containerTempoRedirecionar{
  display: none;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.containerRedirectWhats{
	width: 100%;
	text-align: center;
}
.swal-overlay{
	z-index: 999999;
}
.value.js-delivery-fee-value{
	text-align: right;
}
.endEntrega{
	display: block;
	margin: 0 auto;
	margin-bottom: -12px;
	font-size: 15px;
	color: #fff;
	padding-top: 10px;
}
.btnAgendamentoLojaFechada{
  background: #17a2b8;
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.btnAgendamentoLojaFechada:hover,.btnAgendamentoLojaFechada:active,.btnAgendamentoLojaFechada:not(:active){
  background-color: #36b3c6 !important;
}
.btnAgendamentoLojaFechada span.text{
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}
.preloaderFull{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99999999999;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.80);
}
.containerSabores{
  width: 100%;
}
.enderecoEntregaCepManual button{
  margin: 0 auto !important;
}
.white{
	color: white !important;
}
.pr-10{
	padding-right: 10px;
}
.botaoAgendaEntregaModalMobile.mdl-button:hover {
  background-color: #17a2b8;
}
.botaoAgendaEntregaModalMobile.mdl-button:active {
  background-color: #17a2b8;
}
.botaoAgendaEntregaModalMobile.mdl-button:hover {
  background-color: #17a2b8;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
#body-store .cart-schedule-order {
  text-transform: uppercase;
  color: #292f31;
  text-align: center;
  font-size: 12px;
  display: flex;
  padding: 0px 0px 10px 0px;
  justify-content: center;
}
#body-store .cart-schedule-order .btn-to-schedule{
  background: #17a2b8;
  height: 44px;
  width: 100%;
}
#body-store .cart-schedule-order .action .arrow {
  border-radius: 50%;
  color: #727272;
  background: #fff;
  background-color: #1b2124;
  font-size: 18px;
  margin-right: 10px;
}
#body-store .btn-to-schedule .action-color {
  color: #ffffff;
  margin-left: 10px;
}
#body-store .cart-schedule-order .action .text{
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}

.botaoAgendaEntregaModalMobile{
  text-align:center;
  color: white;
  height: 44px;
  margin-bottom: 15px;
  background: #17a2b8;
}
.mdl-textfield.mdl-textfield.is-focused .mdl-textfield__label, .mdl-textfield.mdl-textfield.is-dirty .mdl-textfield__label, .mdl-textfield.mdl-textfield.has-placeholder .mdl-textfield__label {
  color: #363636;
  font-size: 12px;
  font-weight: bold;
}
.selectBairrosModal.mdl-textfield.is-focused .mdl-textfield__label:after{
  background: white;
}
.box-address.modalFinalizarPedido .actions .btn-submit{
  float: right;
}
.mdl-textfield.mdl-textfield .mdl-textfield__label {
  letter-spacing: 1px;
}
.step-3 .mdl-textfield__input {
  border-bottom: none;
}
#modalCep .step-3{
  padding-bottom: 20px;
  padding-top: 20px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.containerAvisoRetirada{
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
}
.disabledRetirada{
  cursor: not-allowed !important;
  opacity: 0.4;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.containerBtnConfirmarRetirada{
  text-align: center;
}
.btnConfirmarRetirada{
  background: #00793d;
  margin: 16px;
}
.btnConfirmarRetirada:hover{
  color: #e1ebef;
}
.containerNossoEndereco{
  display: block;
  width: 280px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.itemEndereco{
  width: 100%;
  padding: 3px 0px;
  display: block;
}
.containerOpcoesRetirada{
  width: 320px;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.containerVoltarOpcoes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}
.itemOpcaoRetirada{
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  background: #00793d;
  border-radius: 30px;
  margin: 12px;
  margin-top: 0px;
  color: white;
  text-align: center;
}
.itemOpcaoRetirada:hover{
  background: #40c282;
}
#modalPedidoPendente .modal-content{
  border: 6px solid green;
}
#modalCep .description.zip-description{
  text-align: center;
}
#modalCep .modal-header h4{
  font-family: sans-serif;
  font-size: 24px;
}
#modalCep .modal-header{
  padding: 25px 30px 20px;
  text-align:center;
}
#modalCep{
  z-index: 9999;
}
.expandCategoria{
  cursor: pointer;
}
.iconeExpandido{
  transform: rotate(270deg);
}
.preloaderFull > div{
  text-align: center;
}
.preloaderFull-texto{
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 18px;
}
.preloaderFull-image{
  display: block;
  margin: 0 auto;
  width: 80px;
}
.opcaoTrocoSpan{
  font-weight: 500;
  font-size: 15px;
}
.opcaoTroco{
  padding-right: 10px;
  float: left;
}
.saboresCart{
  display:list-item;
  list-style: inside;
  padding-left: 5px;
}
.adicionaisCart{
  display:list-item;
  list-style: inside;
  padding-left: 5px;
}
.trocoQuanto{
  width: 175px;
}
.containerItemDataAgendamento{
  display: inline;
}
.botaoHorariosAgendar{
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: none;
  margin: 3px;
  background-color: cornflowerblue;
  color: white;
}
.botaoAgendarPedido,.botaoAgendarPedido:hover{
  background-color: #17a2b8 !important;
  color: white;
}
.botaoOkWarning,.botaoOkWarning:hover{
  background-color: #d13232 !important;
  border: none !important;
  box-shadow: none !important;
}
.containerItemDataAgendamento button{
  padding: 5px 20px !important;
  border-radius: 5px;
  color: white;
  background-color: #008000 !important;
  border: none;
  margin: 3px;
}
.containerItemDataAgendamento button:disabled,.botaoHorariosAgendar:disabled{
  opacity: 0.3 !important;
  cursor: not-allowed !important;
}
.containerItemDataAgendamento button span.indisponivel{
  display: block;
  font-size: 12px;
  color:white;
}
.spanAvisoHorarios{
  display: block;
}
.sweet-alert button.botaoHorariosAgendar{
  padding: 6px 25px;
  margin: 10px 5px 0 5px;
}
.containerItemHorarioAgendamento{
  display: block;
}
.campoInputData{
  display: none;
}
.alterarData,.alterarHorario{
  font-size: 13px;
  cursor: pointer;
  display: none;
  color: #0000EE;
}
.horarioAgendamento{
  display: none;
}
.schedule-order-modal .input-box .input-field{
  background: unset;
  background-color: #dbdbdb;
  border-radius: 5px;
}
.mobile-storeinfo>h1 {
  margin: 10px 0;
}
.botaoEntregaAgendadaDesktop{
  background-color: #e9e9e9;
}
.botaoEntregaAgendadaDesktop button:hover{
  background-color: #e9e9e9;
}
.swal-icon--warning{
  border-color: #d13232 !important;
}
.swal-icon--warning__body, .swal-icon--warning__dot{
  background-color: #d13232 !important;
}
.swal-footer,.swal-text{
  text-align: center;
}
.notificationCustom {
  width: 280px;
  height: 45px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: -300px;
  background: #ecf0f1;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 47px;
  border-left: 5px solid
}
.select2-container{
  z-index: 999999;
}
.botaoPedidoMinimo{
  padding: 0 5px;
  margin-top: 20px;
}
.botaoPedidoMinimoFlutuante{
  padding: 0 5px;
  margin-left: 25px;
}

.listaToggle.sobre,.listaToggle.entrega,.listaToggle.contato{
  padding: 4px 20px;
}
.notification-info {
  border-left-color: #3498db;
  color: #3498db
}
.voltarHome{
  max-width: 100px;
}
.voltarHome svg{
	margin: 0 auto;
	fill: #fff;
	display: block;
}
.voltarHome span{
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
}
.listaToggle{
  display: none;
}

.listaToggle.active{
  display: block;
}

.notification-success {
  z-index: 999;
  border-left-color: #73c501;
  color: white;
  position: fixed;
  background-color: #73c501;
}

.notification-warning {
  border-left-color: #e67e22;
  color: #e67e22
}

.notification-error {
  border-left-color: #e74c3c;
  color: #e74c3c
}

#modal-pedido .modal-content{
  top: 15%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 920px){
  .properties-modal-body.w920 .left-side {
    overflow: auto;
  }
	.containerBotoesRodapeMobile .mdl-button{
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
	}
	.containerBotoesRodapeMobile .btn-to-schedule .action-color{
		margin-left: 0px !important;
	}
  .containerOpcoesRetirada,.containerOpcaoRetirada{
    padding-top: 60px;
  }
  .headerBuscarMobile{
    padding: 10px;
  }
  .containerOpcoesRetirada .itemOpcaoRetirada{
    width: 230px;
  }
  .headerEntregaMobile{
    padding-bottom: 14px;
  }
  .containerAdicionais{
    margin-bottom: 100px;
  }
  #modalPedidoPendente .modal-dialog{
    width: 100%;
  }
  #modalPedidoPendente .linkWhatsappPedido a{
    padding-bottom: 20px;
  }
  .containerBoxPedidoPendente{
    padding: 20px 0px 0px 0px;
  }
  .properties-modal-body.w920 .item-photo {
    border-radius: 0;
    height: 191px;
    margin: 0 auto;
    mix-blend-mode: multiply;
    width: auto;
  }
  .box-fechamento{
    height: 100%;
  }
  .checkout-info label{
    height: unset !important;
  }
}
.properties-modal-body{
	height: 401px;
}
.contanierEsquerdoInfosProd{
  max-height: 412px;
  overflow: auto;
  padding-bottom: 0px !important;
}
.js-item-description.item-description{
  max-height: 95px;
  overflow: auto;
}
@media (max-width: 767px){
  .properties-modal-body.w920 .item-description-container .item-description {
    display: block !important;
  }
}


.btn-cupom,.btnPedidoMinimoMobile {
    width: 100%;
    margin-bottom: 1rem;
}
.roxo {
    background-color: #572e68!important;
}
.form-cupom .input-field {
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9e9e9e!important;
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fechar-pedido {
    background-color: #73c501!important;
    width: 100%;
    margin-bottom: 1rem;
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.side .row {
    margin-bottom: 1rem;
}
.col .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
}
.card .card-content {
    padding: 10px;
}
.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}
.branco {
    background-color: #fff!important;
}
.form-cupom .input-field {
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9e9e9e!important;
}
.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-content.box-fechamento p {
    margin-bottom: 0.2rem;
}
.card .card-content p {
    margin: 0;
}
.center, .center-align {
    text-align: center;
}
.card-content.box-fechamento p {
    margin-bottom: 0.2rem;
}
.card .card-content p {
    margin: 0;
}
.center, .center-align {
    text-align: center;
}
img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: auto;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    border-style: none;
}
.box-fechamento{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
}
.items-list-item .prices-container .price-value, .featured-items-item .prices-container .price-value{
  color: #73c501;
  font-weight: bold;
}
.containerCarrinho1{
  background-color: gainsboro;
  /* padding: 10px; */
  /* border-radius: 10px; */
}
.containerCarrinho2{
  background-color: white;
}
@media (min-width: 920px){
	.featured-items-list {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    align-items: stretch;
	}
	.items-list-featured .featured-MOST_ORDERED.featured-MOST_ORDERED {
		background-image: linear-gradient(-180deg,#e8bb0c 0%,#DE8A00 100%);
	}
	.items-list-featured .featured-CUSTOM.featured-CUSTOM {
	    background-image: linear-gradient(-180deg,#8e6aec 0%,#5076e0 100%);
	}
  .containerDoContainerInfosPizza,.containerInfosProduto{
    max-height: 412px;
  }
}
@media (max-width: 920px){
  .containerCarrinho1{
    padding: unset;
  }
  .checkout-details{
    margin-bottom: unset;
  }
  .box-fechamento{
    padding-top: 5px;
  }
	.featured-items-list .items-list-featured .featured-tag.featured-MOST_ORDERED {
	    color: #eb951c;
	}
	.featured-items-list .items-list-featured .featured-tag.featured-CUSTOM {
	    color: #7b00fd;
	}
	.featured-items-list .items-list-featured .featured-tag {
	    text-align: left;
	    color: unset;
	    background-image: none;
	    padding: 10px 0 16px 16px;
	    font-size: 12px;
	}
}
@media (max-width: 1025px){
	.products-section__head__description--cover .description, .products-section__head__description, .featured-items__head {
  	padding-left: 16px;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
		max-width: inherit !important;
	}
}
.products-section{
  display: flow-root;
}
.address-box .empty{
  margin-bottom: unset;
}

.campoCupom{
  text-align: center;
  margin-top: unset;
}

.imgBandeirasCartoes{
  padding:15px;
}
.descricaoPizza{
  padding-left: 36px;
}
.btn.btn-cupom.roxo:hover{
  color: #dbdbdb !important;
}

/* The container */
.containerCheckboxPizza {
  display: block;
  height: 20px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckboxPizza input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-top: 2px;
  border-radius: 3px;
  border: 2px solid #CACACA;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckboxPizza:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckboxPizza input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckboxPizza input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckboxPizza .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-logo-nome-mobile{
	width: 35%;
	float: left;
}
.container-horario-taxa-mobile{
	width: 58%;
  float: right;
  margin-top: 12px;
}
.mobile-storeinfo-business_hour-box .material-icons, .mobile-storeinfo-business_hour-box svg{
	font-weight: bold;
	font-size: 16px !important;
	width: 18px;
	fill: #92276f;
}
.mobile-storeinfo-business_hour-box .js-business-hours .material-icons{
	color: #92276f;
}
.mobile-storeinfo-business_hour-box span{
	color: #6f6e6f;
	font-weight: 600;
}
.containerCarrinhoMobile{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1.5px solid #CACACA;
}
.itemCarrinhoMobile{
	width: 33%;
	text-align: center;
	margin: 6px 0px;
}
.itemCarrinhoMobile svg{
	width: 100%;
	fill: #b2b2b2;
}
.itemCarrinhoMobile span{
	color: #7a7a7a;
	font-size: 13px;
}
.mobile-storeinfo-logo>img{
  width: 95px;
  height: 95px;
}

.fixaTopo{
  position: fixed;
  top: 0px;
  /* right: 15%; */
  width: 248px;
}

.go-to-checkout-content{
  padding: 0px 10px;
}

.containerHorariosItens .containerItemHorarioAgendamento:not(:first-child){
  margin-top: 30px;
}
.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante img{
	box-shadow: 1px 1px 10px;
	border-radius: 50%;
}
.store-custom-menu-itens .selected.selected.selected a{
		color: #00793d;
}
@media (max-width: 920px){
	.store-custom-menu-itens .selected.selected.selected a{
	    color: #fff;
	}
  .featured-items-list .items-list-featured--MOST_ORDERED {
    border-left: 6px solid #eb951c;
  }
  .featured-items-list .items-list-featured--CUSTOM {
    border-left: 6px solid #7b00fd;
  }
  .containerDoContainerInfosPizza{
    max-height: unset;
  }
	.containerPedidoPendenteFlutuante span{
		font-size: 12px;
		box-shadow: 1px 1px 4px 0px;
		background: #ebebebeb;
		font-weight: bold;
		padding: 1px;
		line-height: 1.8;
		border-radius: 3px;
	}
	.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante,.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante img{
		width: 50px;
		height: 50px;
	}
	.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante img{
		box-shadow: 1px 1px 10px;
		border-radius: 50%;
	}
	.containerPedidoPendenteFlutuante{
		right: 15px;
		bottom: 60px;
	}
	.divPedidoPendenteFlutuante{
		margin-top: 4px;
	}
  .contanierEsquerdoInfosProd{
    max-height: unset;
  }
  .modal.w920 .modal-dialog{
    height: 100%;
  }
}
.labelSabores{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #aa1f18;
}
.spanSabor{
  font-size: 16px;
}
.containerInformacoesPizza{
  height: auto;
  overflow: auto;
}
/* .price-container{
  position: sticky !important;
} */
.left-side.containerInformacoesPizza{
  padding-bottom: 0px !important;
}
.containerInformacoesPizza .containerAdicionaisItens{
  padding-top: 15px;
  border-top: 2px solid #cacaca9e;
}
#modalAdicionarPedidoCarrinho .containerAdicionaisItens{
  margin: 0px 35px;
}
.containerQtdSabores{
  text-align: center;
  margin: 5px 0px 15px 0px;
  font-size: 15px;
  display: block;
}
.containerCarrinhoMobile{
	display: none;
}
.conteudoMenuItem{
	display: none;
}
.item2,.item3,.item4{
	display: none;
}
#carouselImagensProdutosPadrao, #carouselImagensProdutosPizza{
	position: relative;
	overflow: hidden;
	max-height: 280px;
}
#carouselImagensProdutosPadrao .carousel-control,
#carouselImagensProdutosPizza .carousel-control{
	background: unset;
	display: flex;
	align-items: center;
}
#carouselImagensProdutosPadrao .carousel-control .material-icons,
#carouselImagensProdutosPizza .carousel-control .material-icons{
	font-size: 30px;
  color: white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 20px #000;
}
#carouselImagensProdutosPadrao .left.carousel-control .material-icons,
#carouselImagensProdutosPizza .left.carousel-control .material-icons{
	margin: 0 0 0 auto;
}
@media (max-width: 992px){
	#carouselImagensProdutosPadrao .carousel-control .material-icons,
	#carouselImagensProdutosPizza .carousel-control .material-icons{
		font-size: 38px;
	  color: white;
	  border-radius: 50%;
	  box-shadow: inset 0px 0px 20px 20px #000;
	}
	.conteudoMenuItem{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 50px;
		font-size: 18px;
		color: white;
		padding: 14px 20px;
		font-weight: bold;
	}
	.containerChamadaEnderecoMobile{
		display: flex;
		align-items: center;
	  box-shadow: inset -1px 0px 1px 0px;
		height: 38px;
		font-size:14px;
		padding-left: 30px;
		font-weight: bold;
		color: #92276f;
		background: #fff;
		font-family: sans-serif;
	}
	.containerCarrinhoMobile{
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #CACACA;
	}
	.color-settings-secondary.color-settings-secondary.color-settings-secondary {
	    color: #fff
	}
	.containerAbasConteudo{
		/* margin: 0 auto; */
	}
	.products-section .products-section__head {
    padding-top: 30px;
	}
	.store-custom-menu-itens.mobile {
    background: #f2f2f2;
	}

	/* ponta esquerda */
	.item-ponta-esquerda a{
		border-bottom: 3px solid var(--cor-faixa-principal-mobile);
	}
	.item-ponta-esquerda.selected a{
		border-bottom: 3px solid #fff;
	}
	/* sub ponta esquerda */
	.sub-ponta-esquerda a{
		border-bottom: 3px solid #66c9d2;
	}
	.sub-ponta-esquerda.selected a{
		border-bottom: 3px solid #fff;
	}
	/* sub ponta direita */
	.sub-ponta-direita a{
		border-bottom: 3px solid #f38f38;
	}
	.sub-ponta-direita.selected a{
		border-bottom: 3px solid #fff;
	}
	/* ponta direita */
	.item-ponta-direita a{
		border-bottom: 3px solid #4856a6;
	}
	.item-ponta-direita.selected a{
		border-bottom: 3px solid #fff;
	}

	.menu-item.selected.item-ponta-esquerda{
		background: var(--cor-faixa-principal-mobile);
		border-top-right-radius: 10px;
	}
	.menu-item.selected.sub-ponta-esquerda{
		background: #66c9d2;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.menu-item.selected.sub-ponta-direita{
		background: #f38f38;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.menu-item.selected.item-ponta-direita{
		background: #4856a6;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.store-custom-menu-itens>.menu-item a {
		margin: 14px 18px 5px 18px;
	}
	.categories-filter {
    width: 100%;
	}
	.filtro-cabecalho-mobile{
		height: 46px;
		width: 60%;
		margin: 0 auto;
	}
	.items-search-bar-fixed .search-button{
		right: 40px;
		position: absolute;
	}
	.items-search-bar-fixed .search-button i{
		font-size: 38px;
	}
}
.paddinAdicional{
	bottom: 110px;
}
.store-cart-box .store-cart-content .checkout-content .empty:before {
  content: attr(data-placeholder);
  display: block;
  font-size: 22px;
  text-align: center;
  position: relative;
  font-weight: 400;
}
.store-cart-box .store-cart-content .checkout-content .empty {
  color: #c9cdcf;
  font-weight: 700;
  width: auto;
  padding: 45px 0;
}
@media (max-width: 424px){
	.store-custom-menu-itens>.menu-item a {
		margin: 14px 12px 5px 12px;
		display: block;
		font-weight: bold;
	}
}
