@charset "UTF-8";

/**
 * Store: Frutaria São Paulo
 * CSS base template that styles the homepage according to Store settings
 * Variables:
 *     primary_color = #00FF00
 *     secondary_color = #00793d
 *     font_color = #FFFFFF
 *     background_color = #EEEEEE
 *     background_photo =
 *     background_position = top
 *     background_repeat = repeat
 *     brands_setting.primary_color = #FF9802
 */

/*===================*\
 * CSS Helper        *
\*===================*/
.primary-color {
    color: #00FF00;
}

.secondary-color {
    color: #00793d;
}

.background-primary-color {
    background-color: #00FF00;
}

.background-secondary-color {
    background-color: #00793d;
}


/*===================*\
 * Header            *
\*===================*/
.header-cover-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-header-fixed-content {
    background-color: #00793d
}

/*===================*\
 * Site background   *
\*===================*/

body {
/*
    background-attachment: fixed;
    background-color: #EEEEEE;
    background-image: url("");
    background-position: top;
    background-repeat: repeat;
    background-size: ;
    */
}

/*===================*\
 * General Icons color*
\*===================*/

/*===================*\
 * Inputs            *
\*===================*/

.form-control.form-control.form-control.form-control.form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/*===================*\
 * Mobile right bar  *
\*===================*/

.mobile-bar__right .btn {
    color: #FFFFFF;
}

/*===================*\
 * Primary bar       *
\*===================*/

.primary-bar,
.mobile-bar {
    background-color: #00793d;
    color: #FFFFFF;
}

.primary-bar a:link,
.primary-bar a:visited,
.primary-bar a:hover,
.primary-bar a:active {
    color: #FFFFFF;
    text-decoration: none;
}

/*===================*\
 * Secondary nav-bar *
\*===================*/

.secondary-bar
.nav-tabs > li > a:hover,
.secondary-bar .nav-tabs > li.active > a:hover,
.secondary-bar .nav-tabs > li.active > a {
    color: #00793d;
    border-bottom: 3px solid #00793d;
}

/*===================*\
 * Categories list   *
\*===================*/

.list-group .list-group-item.active {
    border-left: 4px solid #00793d;
}

.list-group .list-group-item.active a,
.list-group .list-group-item:hover a {
    color: #00793d;
}

/*========================*\
 * Brand header and title *
\*========================*/

.brand-name .header,
.brand-name .title {
    color: #FFFFFF;
}

/*==============================*\
 * Stores list from Brand page  *
\*==============================*/

.stores-list .stores-list-item .actions {
    color: #00793d
}

/*================*\
 * Stores header  *
\*================*/

.header-content-info-bottom .trending-up,
.mobile-storeinfo .trending-up {
    color: #00793d
}

/*========================*\
 * User name from header  *
\*========================*/

.primary-bar .user-register,
.primary-bar .user-register a {
    background-color: #00FF00;
    color: #FFFFFF !important;
}

/*==============================*\
 * .is-closed from delivery off *
\*==============================*/

.items-section.is-closed:after {
    background-color: #00793d;
}

/*=================*\
 * Área de entrega *
\*=================*/

.about-area-entrega .trending-up {
    color: #00793d
}

/*==============================*\
 * Item Description title       *
\*==============================*/

.item__description .title {
    color: #00793d;
}

/*======================*\
 * Sidebar Box checkout *
\*======================*/
.checkout-details-user-name-edit,
.cart-schedule-order .action-color,
.store-cart-box .action-color,
.store-cart-box .trending-up {
    color: #00793d
}

.item-checkout .item-checkout-edit {
    color: #00793d
}

.cart-schedule-order .store-bg-color {
    background-color: #00793d !important
}

.store-cart-box .checkout-button.checkout-button.checkout-button {
    line-height: 22px;
    height: inherit;
    padding: 10px;
    background-color: #00793d
}


.store-cart-box .store-cart-content .checkout-content .cart-info-mobile {
    background-color: #00793d
}

.store-cart-box .cart-info-mobile .total .value {
    color: #00793d
}

.mobile-components--right .list-item-content .action-color {
    color: #00793d
}

.mobile-components--right .is-focused .action-color.action-color {
    color: #00793d
}

.mobile-components--right .checkout-button.checkout-button {
    background-color: #00793d
}

.mobile-components--right .header-mobile {
    background-color: #00793d
}

.btn-to-schedule .action-color {
    color: #00793d
}

.mobile-components--right .trending-up {
    color: #00793d
}

.store-about-address-map {
    color: #00793d
}

/*======================*\
 * Menu Page        *
\*======================*/

.items-list-item .title.title.title.title {
    color: #00793d;
}

.store-custom-menu-itens .menu-item .custom-border-bottom {
    border-bottom: 2px solid #00793d
}

/* .store-custom-menu-itens.mobile .menu-item .custom-border-bottom {
    border-bottom: 2px solid #00793d
} */

.store-contact_us-action .store-contact_us-action-btn.store-contact_us-action-btn {
    background-color: #00793d
}

.featured-items-item .item__left-side .title.title.title {
    color: #00793d;
}

.featured-items-item .item__mid-description .title {
    color: #00793d;
}

/*======================*\
 * Checkout Page        *
\*======================*/
.checkout-delivery-address--label {
    color: #00793d;
}

.order-info-section .title-container .action,
.order-info-section .title-container .action a {
    color: #00793d;
}

.order-info-section-footer a {
    color: #00793d;
}

.btn-submit-order.btn-submit-order.btn-submit-order {
    background-color: #00793d
}

.checkout-details__body--content .trending-up {
    color: #00793d
}

/*==============================*\
 * Footer                       *
\*==============================*/

footer.footer .title ul > li > a {
    color: #00793d;
}

/*==============================*\
 * Modal                        *
\*==============================*/

.modal-title.modal-title {
    color: #00793d;
}

.modal-header-mobile.modal-header-mobile.modal-header-mobile {
    background-color: #00793d;
}

.modal__brand .modal-header-mobile.modal-header-mobile.modal-header-mobile {
    background-color: #FF9802;
}


/*==============================*\
 * Modal business hours         *
\*==============================*/

.schedule-footer .action-color {
    background-color: #00793d;
}

/*==============================*\
 * Properties Modal             *
\*==============================*/

.increase-decrease-container .material-icons,
.increase .material-icons,
.decrease .material-icons,
.price,
.item-name {
    color: #00793d;
}

.add-to-cart-btn {
    background: #00793d;
}

.btn-delete-color {
    color: #00793d;
}

.btn-delete-color-text {
    color: #1B2124
}

/*==============================*\
 * Profile                        *
\*==============================*/

.profile-hideble-container .action-color {
    color: #00793d;
}

.profile-hideble-container .acessory {
    background-color: #00793d;
}

.user-profile-table-header .action-color.action-color {
    color: #00793d;
}

.user-generic-list .action-color.action-color {
    color: #00793d;
}

.user-generic-list .user-generic-list-item-accessory {
    background-color:  #00793d;
}

.btn-iconed-action.btn-iconed-action {
    background-color: #00793d;
}

.user-profile-card-footer-action .btn-footer-action {
    background-color: #00793d
}

.user-profile-card-content .user-loyaty-program-step .filled.filled.filled {
    background-color: #00793d
}

.user-profile-card-content .user-loyaty-program-step .incomplete.incomplete.incomplete {
    background-color: #00793d;
    opacity: 0.4
}

.user-profile-card-content .user-member-get-member-box .action-color {
    color: #00793d;
}

.loyaltyprogram-progressbar-box .progressbar-container {
    background-color : #00793d
}

.loyaltyprogram-progressbar-box .loyaltyprogram-progressbar .progressbar {
    background-color : #00793d
}

.loyaltyprogram-progressbar-box .infobox-subtitle {
    color : #00793d
}

/*==============================*\
 * Material design override     *
\*==============================*/
.mdl-progress.mdl-progress--indeterminate>.bar1,
.mdl-progress.mdl-progress__indeterminate>.bar1,
.mdl-progress.mdl-progress--indeterminate>.bar3,
.mdl-progress.mdl-progress__indeterminate>.bar3 {
    background-color: #00793d;
}

.mdl-progress>.bufferbar {
    background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,#00793d,#00793d);
}

.mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar, .mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate)>.auxbar {
    background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,#00793d,#00793d);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #00793d;
}
.mdl-textfield__label:after {
    background-color: #00793d;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
    background-color: #00793d
}

.mdl-checkbox__ripple-container .mdl-ripple {
    background: #00793d;
}

.mdl-radio__ripple-container .mdl-ripple {
    background: #00793d;
}

.mdl-spinner--single-color .mdl-spinner__layer-1,
.mdl-spinner--single-color .mdl-spinner__layer-2,
.mdl-spinner--single-color .mdl-spinner__layer-3,
.mdl-spinner--single-color .mdl-spinner__layer-4 {
    border-color: #00793d;
}

.modal__brand .mdl-progress.mdl-progress--indeterminate>.bar1,
.modal__brand .mdl-progress.mdl-progress__indeterminate>.bar1,
.modal__brand .mdl-progress.mdl-progress--indeterminate>.bar3,
.modal__brand .mdl-progress.mdl-progress__indeterminate>.bar3 {
    background-color: #FF9802;
}

.modal__brand .mdl-progress>.bufferbar {
    background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,#FF9802,#FF9802);
}

.modal__brand .mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar, .mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate)>.auxbar {
    background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,#FF9802,#FF9802);
}

.modal__brand .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal__brand .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal__brand .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.modal__brand .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.modal__brand .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal__brand .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.modal__brand .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #FF9802;
}
.modal__brand .mdl-textfield__label:after {
    background-color: #FF9802;
}

.modal__brand .mdl-textfield.is-focused .mdl-textfield__label:after {
    background-color: #FF9802
}

.modal__brand .mdl-checkbox__ripple-container .mdl-ripple {
    background: #FF9802;
}

.modal__brand .mdl-radio__ripple-container .mdl-ripple {
    background: #FF9802;
}

.modal__brand .mdl-spinner--single-color .mdl-spinner__layer-1,
.modal__brand .mdl-spinner--single-color .mdl-spinner__layer-2,
.modal__brand .mdl-spinner--single-color .mdl-spinner__layer-3,
.modal__brand .mdl-spinner--single-color .mdl-spinner__layer-4 {
    border-color: #FF9802;
}

/*==============================*\
 * Buttons                      *
\*==============================*/

/**
 * Important!
 * This class only purpose is to add backgroud color and text color
 * Do not use to add extra css
 */
.btn-secondary-color.btn-secondary-color.btn-secondary-color {
    color: #FFFFFF;
    background: #00793d;
}

.btn-brand-primary-color.btn-brand-primary-color.btn-brand-primary-color {
    color: #FFFFFF;
    background: #FF9802;
}

.btn-default--small.btn-default--small {
    color: #FFFFFF;
    background: #00793d;
}

.btn-edit-schedule.btn-edit-schedule {
    color: #00793d;
}

.btn-checkout-mobile-submit,
.btn-checkout-mobile-submit:focus.btn-checkout-mobile-submit:focus,
.btn-checkout-mobile-submit:hover.btn-checkout-mobile-submit:hover  {
    background-color: #00793d !important;
    color: #FFFFFF;
}

.checkout-payment-add-card-mobile .btn-add-new-card {
    background-color: #00793d !important;
    color: #FFFFFF;
}

.checkout-delivery-address--mobile .btn-add-new-address {
    background-color: #00793d !important;
    color: #FFFFFF !important;
}

.checkout-order-submit--mobile .btn-go-to-step2-checkout,
.checkout-order-submit--mobile .btn-checkout-submit {
    background-color: #00793d !important;
    color: #FFFFFF !important;
}

.checkout-mobile-order-header .mobile-header-steps.selected {
    border-color: #00793d !important;
}

.checkout-mobile-container .checkout__title .checkout__title-text>.material-icons {
    color: #00793d !important;
}

.single-product-button-add-mobile.single-product-button-add-mobile.single-product-button-add-mobile,
.single-product-button-add.single-product-button-add.single-product-button-add {
    background-color: #00793d
}

.btn-store-header-mgm.btn-store-header-mgm.btn-store-header-mgm.btn-store-header-mgm.btn-store-header-mgm,
.btn-store-header-mgm-mobile.btn-store-header-mgm-mobile.btn-store-header-mgm-mobile.btn-store-header-mgm-mobile.btn-store-header-mgm-mobile {
    color: #FFFFFF;
    background-color: #00793d;
    border: 1px solid #00793d;
}

.btn-copy-code.btn-copy-code.btn-copy-code,
.modal-mgm-info-title-bold.modal-mgm-info-title-bold.modal-mgm-info-title-bold {
    color: #00793d;
}


/*==========================*\
 * Custom Header Brand Page *
\*==========================*/

.custom-brand-header {
    background: #FFFFFF url("") no-repeat center;
}

@media screen and (min-width:992px) {
    .custom-brand-header {
        background: #FFFFFF url("") no-repeat center;
    }
}

@media screen and (max-width:991px) {
    .custom-brand-header {
        background: #FFFFFF url("") no-repeat center;
    }
}
