.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
body{background-attachment:fixed;background-color:background_color;background-position:background_position;background-repeat:background_repeat;background-size:background_size;}
.modal-title.modal-title{color:secondary_color;}
html{color:rgba(0, 0, 0, .87);font-size:1em;line-height:1.4;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
img,svg{vertical-align:middle;}
.hidden{display:none!important;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
@media print{
*,*:before,*:after,*:first-letter{background:0 0!important;color:#000!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" ("attr(href) ")";}
a[href^="javascript:"]:after{content:"";}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
a,.mdl-button,.mdl-card{-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;}
html{width:100%;height:100%;-ms-touch-action:manipulation;touch-action:manipulation;}
body{width:100%;min-height:100%;margin:0;}
.material-icons{font-family:material icons;font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;word-wrap:normal;-moz-font-feature-settings:'liga';font-feature-settings:'liga';-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
.mdl-ripple{background:#000;border-radius:50%;height:50px;left:0;opacity:0;pointer-events:none;position:absolute;top:0;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:50px;overflow:hidden;}
.mdl-ripple.is-animating{transition:width .3s cubic-bezier(0, 0, .2, 1), height .3s cubic-bezier(0, 0, .2, 1), opacity .6s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1);transition:transform .3s cubic-bezier(0, 0, .2, 1), width .3s cubic-bezier(0, 0, .2, 1), height .3s cubic-bezier(0, 0, .2, 1), opacity .6s cubic-bezier(0, 0, .2, 1);transition:transform .3s cubic-bezier(0, 0, .2, 1), width .3s cubic-bezier(0, 0, .2, 1), height .3s cubic-bezier(0, 0, .2, 1), opacity .6s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1);}
.mdl-button{background:0 0;border:none;border-radius:2px;color:#000;position:relative;height:36px;margin:0;min-width:64px;padding:0 16px;display:inline-block;font-family:roboto, helvetica, arial, sans-serif;font-size:14px;font-weight:500;text-transform:uppercase;line-height:1;letter-spacing:0;overflow:hidden;will-change:box-shadow;transition:box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);outline:none;cursor:pointer;text-decoration:none;text-align:center;line-height:36px;vertical-align:middle;}
.mdl-button::-moz-focus-inner{border:0;}
.mdl-button:hover{background-color:rgba(158, 158, 158, .2);}
.mdl-button:active{background-color:rgba(158, 158, 158, .4);}
.mdl-button--raised{background:rgba(158, 158, 158, .2);box-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);}
.mdl-button--raised:active{box-shadow:0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);background-color:rgba(158, 158, 158, .4);}
.mdl-button__ripple-container{display:block;height:100%;left:0;position:absolute;top:0;width:100%;z-index:0;overflow:hidden;}
.mdl-button--accent.mdl-button--accent{color:#ff4081;}
.mdl-button--accent.mdl-button--accent .mdl-ripple{background:#fff;}
.mdl-button--accent.mdl-button--accent.mdl-button--raised{color:#fff;background-color:#ff4081;}
.mdl-button .material-icons{vertical-align:middle;}
.mdl-card{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;font-size:16px;font-weight:400;min-height:200px;overflow:hidden;width:330px;z-index:1;position:relative;background:#fff;border-radius:2px;box-sizing:border-box;}
.mdl-progress{display:block;position:relative;height:4px;width:500px;max-width:100%;}
.mdl-progress>.bar{display:block;position:absolute;top:0;bottom:0;width:0%;transition:width .2s cubic-bezier(.4, 0, .2, 1);}
.mdl-progress>.progressbar{background-color:#3f51b5;z-index:1;left:0;}
.mdl-progress>.bufferbar{background-image:linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(to right, rgb(63, 81, 181), rgb(63, 81, 181));z-index:0;left:0;}
.mdl-progress>.auxbar{right:0;}
.mdl-progress:not(.mdl-progress--indeterminate)>.auxbar{background-image:linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), linear-gradient(to right, rgb(63, 81, 181), rgb(63, 81, 181));}
.mdl-progress.mdl-progress__indeterminate>.bar1{background-color:#3f51b5;-webkit-animation-name:indeterminate1;animation-name:indeterminate1;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:linear;animation-timing-function:linear;}
.mdl-progress.mdl-progress__indeterminate>.bar3{background-image:none;background-color:#3f51b5;-webkit-animation-name:indeterminate2;animation-name:indeterminate2;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:linear;animation-timing-function:linear;}
.mdl-textfield{position:relative;font-size:16px;display:inline-block;box-sizing:border-box;width:300px;max-width:100%;margin:0;padding:20px 0;}
.mdl-textfield__input{border:none;border-bottom:1px solid rgba(0, 0, 0, .12);display:block;font-size:16px;font-family:helvetica, arial, sans-serif;margin:0;padding:4px 0;width:100%;background:0 0;text-align:left;color:inherit;}
.mdl-textfield.is-focused .mdl-textfield__input{outline:none;}
.mdl-textfield__label{bottom:0;color:rgba(0, 0, 0, .26);font-size:16px;left:0;right:0;margin:0;pointer-events:none;position:absolute;display:block;top:24px;width:100%;overflow:hidden;white-space:nowrap;text-align:left;}
.mdl-textfield--floating-label .mdl-textfield__label{transition-duration:.2s;transition-timing-function:cubic-bezier(.4, 0, .2, 1);}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{color:#3f51b5;font-size:12px;top:4px;visibility:visible;}
.mdl-textfield__label:after{background-color:#3f51b5;bottom:20px;content:'';height:2px;left:45%;position:absolute;transition-duration:.2s;transition-timing-function:cubic-bezier(.4, 0, .2, 1);visibility:hidden;width:10px;}
.mdl-textfield.is-focused .mdl-textfield__label:after{left:0;visibility:visible;width:100%;}
.mdl-textfield__error{color:#d50000;position:absolute;font-size:12px;margin-top:3px;visibility:hidden;display:block;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
footer{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
b,strong{font-weight:700;}
h1{margin:.67em 0;font-size:2em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
button,input,select{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type=button]{-webkit-appearance:button;cursor:pointer;}
html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
table{border-spacing:0;border-collapse:collapse;}
td,th{padding:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" ("attr(href) ")";}
a[href^="javascript:"]:after{content:"";}
thead{display:table-header-group;}
img,tr{page-break-inside:avoid;}
img{max-width:100%!important;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:transparent;}
body{font-family:helvetica neue, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
button,input,select{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.img-responsive{display:block;max-width:100%;height:auto;}
h1,h2,h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h4{margin-top:10px;margin-bottom:10px;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
p{margin:0 0 10px;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-muted{color:#777;}
ul{margin-top:0;margin-bottom:10px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1170px;}
}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.row{margin-right:-15px;margin-left:-15px;}
.col-lg-12,.col-md-12,.col-md-2,.col-md-6,.col-sm-12,.col-xs-1,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-6,.col-xs-7{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-1,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-6,.col-xs-7{float:left;}
.col-xs-12{width:100%;}
.col-xs-7{width:58.33333333%;}
.col-xs-6{width:50%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.66666667%;}
.col-xs-1{width:8.33333333%;}
@media (min-width:768px){
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
}
@media (min-width:992px){
.col-md-12,.col-md-2,.col-md-6{float:left;}
.col-md-12{width:100%;}
.col-md-6{width:50%;}
.col-md-2{width:16.66666667%;}
}
@media (min-width:1200px){
.col-lg-12{float:left;}
.col-lg-12{width:100%;}
}
table{background-color:transparent;}
th{text-align:left;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table>tbody>tr>td,.table>thead>tr>th{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd;}
.table>thead:first-child>tr:first-child>th{border-top:0;}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
input[type=radio]{margin:4px 0 0;margin-top:1px\9;line-height:normal;}
input[type=radio]:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-group{margin-bottom:15px;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);}
.btn-default{color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c;}
.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active:focus,.btn-default:active:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c;}
.btn-default:active{background-image:none;}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4;}
.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40;}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active:focus,.btn-primary:active:hover{color:#fff;background-color:#204d74;border-color:#122b40;}
.btn-primary:active{background-image:none;}
.fade{opacity:0;-webkit-transition:opacity .3s linear;-o-transition:opacity .3s linear;transition:opacity .3s linear;}
.fade.in{opacity:1;}
.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid\9;border-right:4px solid transparent;border-left:4px solid transparent;}
.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);-o-transform:translate(0, -50%);transform:translate(0, -50%);}
.modal.in .modal-dialog{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0);}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0, 0, 0, .2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);box-shadow:0 3px 9px rgba(0, 0, 0, .5);}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;}
.modal-title{margin:0;line-height:1.42857143;}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5;}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px;}
@media (min-width:768px){
.modal-dialog{width:600px;margin:30px auto;}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);box-shadow:0 5px 15px rgba(0, 0, 0, .5);}
}
.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;font-family:helvetica neue, Helvetica, Arial, sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, .2);box-shadow:0 5px 10px rgba(0, 0, 0, .2);line-break:auto;}
.popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0;}
.popover-content{padding:9px 14px;}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.row:after,.row:before{display:table;content:" ";}
.clearfix:after,.container-fluid:after,.container:after,.modal-footer:after,.modal-header:after,.row:after{clear:both;}
.center-block{display:block;margin-right:auto;margin-left:auto;}
.hide{display:none!important;}
.hidden{display:none!important;}
.visible-sm-inline-block,.visible-xs-block,.visible-xs-inline-block{display:none!important;}
@media (max-width:767px){
.visible-xs-block{display:block!important;}
}
@media (max-width:767px){
.visible-xs-inline-block{display:inline-block!important;}
}
@media (min-width:768px) and (max-width:991px){
.visible-sm-inline-block{display:inline-block!important;}
}
@media (max-width:767px){
.hidden-xs{display:none!important;}
}
@media (min-width:768px) and (max-width:991px){
.hidden-sm{display:none!important;}
}
@media (min-width:992px) and (max-width:1199px){
.hidden-md{display:none!important;}
}
@media (min-width:1200px){
.hidden-lg{display:none!important;}
}
.properties-modal-body .scroll-container,.properties-modal-body .item-qty,.properties-modal-body .item-delete,.properties-modal-body .left-side,.properties-modal-body .price-container,.items-list,.items-list-item,.items-list-item .item__left-side,.items-list-item .item__right-side{display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.properties-modal-body .scroll-container,.properties-modal-body .price-container,.items-list,.items-list-item{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.properties-modal-body .left-side,.items-list-item .item__left-side{-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.items-list-item,.items-list-item .item__left-side{-webkit-flex-wrap:nowrap;-moz-flex-wrap:nowrap;-ms-flex-wrap:none;flex-wrap:nowrap;}
.items-list{-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.properties-modal-body .scroll-container,.items-list{-webkit-box-pack:start;-moz-box-pack:start;-webkit-flex-pack:start;-ms-flex-pack:start;-moz-justify-content:flex-start;-webkit-justify-content:flex-start;justify-content:flex-start;}
.items-list-item,.items-list-item .item__left-side{-webkit-box-pack:justify;-moz-box-pack:justify;-webkit-flex-pack:justify;-ms-flex-pack:justify;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between;}
.properties-modal-body .scroll-container{-webkit-box-align:stretch;-ms-flex-align:stretch;-webkit-align-items:stretch;-moz-align-items:stretch;align-items:stretch;}
.properties-modal-body .qty-label,.properties-modal-body .item-actions{-ms-flex-item-align:center;-webkit-align-self:center;-moz-align-self:center;align-self:center;}
html{min-height:100%;}
body{background-color:#f2f2f2;color:#31434a;font:100% lato, Helvetica, sans-serif;font-size:14px;min-height:100%;margin:0;overflow-x:hidden;}
body>.wrap{margin:0 auto;width:100%;}
.container{max-width:992px;padding-left:15px;padding-right:15px;background:#f2f2f2;}
.error{color:#cf0a2c;}
.is-hidden.is-hidden.is-hidden.is-hidden.is-hidden{display:none;}
@media (max-width:992px){
.store-contact_us{flex-direction:column-reverse;justify-content:flex-end;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.store-contact_us-col-right.store-contact_us-col-right{padding-left:0;padding-top:0;}
.store-contact_us-col-right.store-contact_us-col-right .store-contact_us-lbl{display: none; padding-left:20px;}
.store-contact_us-col-right.store-contact_us-col-right .store-telephone{margin-bottom:0;}
.about-area-entrega.about-area-entrega.about-area-entrega{margin-top:0;padding-left:0;padding-right:0;}
}
@media (max-width:920px){
.hidden-mobile{display:none!important;}
.visible-mobile-block{display:block;}
.visible-desktop-block{display:none;}
.col-mobile-12{width:100%;}
.modal-dialog.w920{margin:0 auto;width:100%;}
.container{padding-left:15px;padding-right:15px;}
.store-cart-box{position:fixed;bottom:0;left:0;right:0;z-index:10;-webkit-border-radius:0;-ms-border-radius:0;border-radius:0;}
.store-cart-box .store-unavailable-content.store-unavailable-content{display:none;}
}
@media (min-width:921px){
.hidden-desktop{display:none;}
.visible-mobile-block{display:none;}
.visible-desktop-block{display:block;}
.col-desktop-3{width:25%;}
.col-desktop-9{width:75%;}
.col-desktop-12{width:100%;}
}
.float-right.float-right.float-right{float:right;}
.float-left.float-left.float-left{float:left;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.text-align-left{text-align:left;}
.text-align-right{text-align:right;}
.text-decoration-none.text-decoration-none.text-decoration-none{text-decoration:none;}
.text-decoration-none.text-decoration-none.text-decoration-none{text-decoration:none;}
.font-size-16{font-size:16px;}
.font-size-18.font-size-18{font-size:18px;}
.font-size-20.font-size-20.font-size-20{font-size:20px;}
.font-weight-bold{font-weight:700;}
.padding-0.padding-0{padding:0;}
.padding-right-10{padding-right:10px;}
.width-100p{width:100%;}
.height-60{height:60px;}
.border-r-10.border-r-10.border-r-10{-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.clearfix::after{content:"";display:table;clear:both;}
.cursor-pointer{cursor:pointer;}
.medium-transition{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;}
ul{list-style-type:none;margin:0;padding:0;}
.form-control.form-control.form-control.form-control:focus{border-color:#ffb74f;-webkit-box-shadow:0 0 .3em #ffb74f;box-shadow:0 0 .3em #ffb74f;}
.mdl-card--full-width.mdl-card--full-width.mdl-card--full-width{width:100%;}
.mdl-card--auto-height.mdl-card--auto-height.mdl-card--auto-height{min-height:auto;}
.mdl-button.mdl-button.mdl-button{box-shadow:unset;}
.address-modal .box-address{padding-left:30px;padding-right:30px;}
.address-modal .loading{padding:0;}
.step-2.step-2{padding:0 20px 20px;}
.box-address{padding:0 20px;}
.box-address .description{margin:20px 0;color:#31434a;font-size:14px;}
.box-address .zip-description{margin:0;}
.box-address .address-modal-field{width:100%;}
.box-address .address-modal-field .address-modal-input,.box-address .address-modal-field .address-modal-label{letter-spacing:1px;text-transform:uppercase;font-size:14px;}
.box-address .address-modal-field .zip-input{border:none;font-size:33px;padding-top:5px;padding-bottom:5px;text-align:center;font-family:lato, arial, sans-serif;font-weight:300;}
.box-address .address-modal-field ::-webkit-input-placeholder{color:#d3d3d3;font-weight:100;}
.box-address .address-modal-field .address-second-step-error,.box-address .address-modal-field .zipcode-error.zipcode-error{display:block;width:100%;visibility:visible;padding-top:8px;}
.box-address .address-modal-field .zipcode-error.zipcode-error{text-align:center;}
.box-address .actions-without-takeout{padding:0;}
.box-address .actions-without-takeout .btn-submit{width:100%;background-color:#e7083a;font-weight:700;font-size:14px;color:#fff;letter-spacing:1px;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.box-address .actions-without-takeout .address-modal-or-box{display:none;}
.box-address .actions-geolocation .separator{display:block;text-align:center;margin:20px 0 10px;}
.box-address .actions{padding:0;justify-content:space-evenly;}
.box-address .actions .btn-submit,.box-address .actions .btn-takeout{height:initial;width:48%;color:#fff;font-weight:700;letter-spacing:1px;line-height:20px;padding:10px 15px;font-size:12px;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;white-space:nowrap;}
.box-address .actions .btn-takeout{background-color:#31434a;}
.box-address .actions .btn-submit{background-color:#e7083a;}
.box-address.step-2.step-2 .actions .btn-submit{float:right;}
.box-address .unknown-zip.unknown-zip,.box-address a:link,.box-address a:visited{text-decoration:none;display:block;width:100%;padding:15px;text-align:center;font-size:14px;color:#31434a;}
.box-address .unknown-zip.unknown-zip a:hover{font-weight:700;}
.box-address .unknown-zip.unknown-zip .dont-know-zip,.box-address a:link .dont-know-zip,.box-address a:visited .dont-know-zip{font-weight:700;}
.box-address .address-second-step-field{display:block;width:100%;padding:1px 0;}
.box-address .address-second-step-field .address-second-step-label{display:block;width:100%;font-size:14px;color:#31434a;font-weight:900;margin:5px 0;}
.box-address .address-second-step-field .address-second-step-value{display:block;width:100%;font-size:14px;color:#31434a;margin:5px 0;}
@media (max-width:920px){
.box-address .zip-description{margin:20px 0;}
.box-address .unknown-zip{display:none;}
}
@media (max-width:370px){
.box-address .actions .btn-submit,.box-address .actions .btn-takeout{white-space:normal;}
.address-modal-input{letter-spacing:1px;text-transform:uppercase;font-size:16px;}
}
.btn.btn{border:0;font-weight:700;text-transform:uppercase;padding:12px;-webkit-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
.btn.btn .material-icons{display:inline-block;vertical-align:middle;}
.btn-default.btn-default.btn-default{border:0;color:#fff;background-color:#888;outline:none;}
.btn-primary{background-color:#039be5;border:1px solid rgba(16, 30, 30, .2);color:#fff;padding-left:20px;padding-right:20px;-webkit-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 2px 2px 0 rgba(16, 30, 30, .2);box-shadow:0 2px 2px 0 rgba(16, 30, 30, .2);}
.btn-iconed.btn-iconed{color:#fff;font-weight:900;border-radius:2px;padding:0 20px;min-height:50px;}
.btn-iconed.btn-iconed .icon{padding-right:10px;}
.btn-iconed.btn-iconed{color:#fff;font-weight:900;border-radius:2px;padding:0 20px;min-height:50px;box-shadow:none;}
.btn-iconed.btn-iconed .icon{padding-right:10px;}
.container.container.container{background:0 0;}
.background-header-container{border-bottom-left-radius:20px;border-bottom-right-radius:20px;width:100%;max-height:420px;height:27vw;min-height:350px;left:0;right:0;margin:0 auto;position:absolute;}
.header-cover-photo{position:relative;padding:0;height:100%;margin:0;}
.header-cover-photo.mobile>.col-xs-12{height:130px;}
@media (max-width:991px){
.header-gradient-mobile{position:absolute;top:0;left:0;right:0;height:110px;background:linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));}
}
@media (min-width:992px){
.header-cover-photo.desktop{position:absolute;width:100%;}
.header-gradient{position:absolute;top:0;left:0;right:0;height:110px;background:linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));}
}
@media (min-width:992px){
.container-fluid+.wrap.store-top-padding{margin-top:370px;}
}
@media (max-width:991px){
.background-header-container{display:none;}
}
.header-fixed{position:fixed;padding:5px 10px 0;height:70px;top:-70px;left:0;right:0;z-index:1010;background-color:#fff;-ms-transition:all 400ms cubic-bezier(.39, .575, .565, 1);-webkit-transition:all 400ms cubic-bezier(.39, .575, .565, 1);transition:all 400ms cubic-bezier(.39, .575, .565, 1);-webkit-box-shadow:0 5px 5px 0 rgba(0, 0, 0, .06), 0 1px 10px 0 rgba(0, 0, 0, .06), 0 2px 4px -1px rgba(0, 0, 0, .06);box-shadow:0 5px 5px 0 rgba(0, 0, 0, .06), 0 1px 10px 0 rgba(0, 0, 0, .06), 0 2px 4px -1px rgba(0, 0, 0, .06);}
.header-fixed .img-header-fixed{height:50px;width:50px;display:inline-block;vertical-align:middle;cursor:pointer;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.header-fixed>.container{padding-left:0;}
@media (min-width:992px){
.header-fixed>.container{width:1170px;}
}
.header-content{border-radius:10px;background-color:#fff;padding:23px;margin:0 auto;justify-content:space-between;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.header-content img{border-radius:10px;display:inline-block;vertical-align:top;height:165px;width:165px;}
.header-content>.header-loyalty-separator{display:inline-block;vertical-align:top;width:1px;background-color:#eaeaea;min-height:165px;}
.header-content>.header-content-info{display:inline-block;vertical-align:top;min-height:165px;width:493px;padding:0 23px;flex-grow:1;}
.header-content>.header-content-info>h1{font-size:30px;font-weight:700;line-height:36px;color:#31434a;margin:2px 0;}
.header-content>.header-content-info>h1 a{color:#31434a;}
.header-content>.header-content-info>h1 a:hover{color:#31434a;text-decoration:none;}
.header-content>.header-content-info>h2{font-size:14px;line-height:17px;color:#545454;margin:15px 0 0;height:71px;}
.header-content>.header-loyaltyprogram{width:24%;}
.header-content>.header-loyaltyprogram>.loyaltyprogram-progressbar-box{max-height:215px;}
.header-content-info-wrapper{display:grid;grid-template-columns:auto auto 1fr;grid-gap:30px;}
.header-content-info-bottom>span{display:block;font-size:12px;font-weight:700;line-height:15px;color:#767676;}
.header-content-info-bottom>label{font-size:14px;font-weight:700;line-height:17px;color:#31434a;margin-top:2px;float:left;}
.header-content-info-bottom:last-child{margin-right:0;cursor:pointer;}
.header-content-info-delivery_fee.header-content-info-delivery_fee{width:auto;}
.header-content-mouse-pointer{cursor:pointer;}
.mdl-button:hover{background-color:#fff;}
.header-loyaltyprogram{display:inline-block;vertical-align:top;width:308px;padding-left:23px;}
.icon-status{font-size:10px;margin-left:5px;display:inline-flex;vertical-align:middle;margin-bottom:2px;color:#ce202e;}
.icon-status.on{color:#1bbb16;}
.dropdown-toggle.dropdown-toggle>.js-selected{max-width:159px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;vertical-align:middle;}
.input-amount{background-color:#eee;border:0;text-align:center;width:25%;height:auto;-webkit-border-radius:4px;-ms-border-radius:4px;border-radius:4px;}
.mdl-textfield.mdl-textfield input[type=text]{margin-bottom:0;}
.mdl-textfield.mdl-textfield .mdl-textfield__label{font-size:14px;font-weight:400;text-transform:uppercase;letter-spacing:3px;}
.mdl-textfield.mdl-textfield.is-focused .mdl-textfield__label{color:#818c91;font-size:10px;}
.item-actions{padding:0 33px 0 15px;float:right;}
.item-actions .decrease,.item-actions .input-amount,.item-actions .increase{float:left;}
.item-actions .decrease,.item-actions .increase{margin-top:3px;padding:3px 0 0 3px;width:26px;height:26px;}
.item-actions .input-amount{float:left;margin-left:0;margin-right:6px;padding:1px;width:20px;height:29px;background-color:#f2f2f2;}
.items-block{overflow:visible;}
.items-block{padding-left:0;padding-right:0;min-height:920px;}
.item-properties{float:left;width:100%;}
.modal-title{margin-top:0;margin-bottom:0;}
.padding-0{padding:0;}
.error{color:#ce202e;}
.modal-content{-webkit-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
.modal-dialog.modal-dialog.modal-dialog{width:700px;}
@media (max-width:920px){
.modal-content.w920,.modal-dialog.w920{height:100%;margin:0;}
.modal.modal.modal.modal.w920{overflow:hidden;}
.modal.modal.modal.modal.w920 .modal-dialog.modal-dialog.modal-dialog{max-width:100%;width:100%;margin:0;}
.modal.modal.modal.modal.w920 .modal-content.modal-content{overflow:hidden!important;}
}
.properties-modal-body{color:#1b2124;position:relative;}
.properties-modal-body ::-webkit-scrollbar{margin-right:3px;width:5px;height:initial;}
.properties-modal-body ::-webkit-scrollbar-track{background-color:transparent;border-radius:10px;}
.properties-modal-body ::-webkit-scrollbar-thumb{background-color:#d0d0d0;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.properties-modal-body .scroll-container{overflow-y:hidden;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.properties-modal-body .item-qty{margin-bottom:30px;}
.properties-modal-body .item-delete{justify-content:center;margin-bottom:30px;}
.properties-modal-body .item-delete .btn-delete{background-color:#fff;}
.properties-modal-body .qty-label{font-size:14px;font-weight:700;padding:0 8px 0 32px;-webkit-flex-grow:1;-webkit-box-flex:1;-moz-flex-grow:1;-ms-flex-positive:1;flex-grow:1;}
.properties-modal-body .item-actions{-webkit-flex-shrink:0;-webkit-box-flex:0;-moz-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;}
.properties-modal-body .item-description-show-more-container{display:none;}
.properties-modal-body .decrease .material-icons,.properties-modal-body .increase .material-icons{font-size:26px;}
.properties-modal-body .item-name{font-size:24px;font-weight:700;line-height:29px;padding:0 18px;}
.properties-modal-body .item-description{font-size:13px;line-height:16px;color:#1b2124;padding:0 18px 18px;white-space:pre-line;}
.properties-modal-body .item-photo{width:237px;height:237px;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;margin:0 18px 18px;}
.properties-modal-body .left-side{position:relative;background:#f2f2f2;-webkit-flex-grow:1;-webkit-box-flex:1;-moz-flex-grow:1;-ms-flex-positive:1;flex-grow:1;padding-bottom:44px;}
.properties-modal-body .right-side{-webkit-flex-shrink:0;-webkit-box-flex:0;-moz-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;background:#fff;padding-top:18px;width:269px;}
.properties-modal-body .properties-list{margin-top:32px;overflow-y:auto;max-height:350px;}
.properties-modal-body .properties-list{margin-left:32px;margin-right:32px;}
.properties-modal-body .observations-textfield{width:100%;}
.properties-modal-body .observations-textfield-container{width:100%;padding:0 32px;}
.properties-modal-body .mdl-textfield__label{color:#ccc;text-transform:uppercase;letter-spacing:1px;font-size:12px;color:#808c90;letter-spacing:3px;font-weight:400;}
.properties-modal-body .price-container{position:absolute;bottom:0;width:100%;z-index:2;}
.properties-modal-body .price-container .price{padding:11px 22px;min-width:122px;background:#fff;font-weight:700;font-size:18px;}
.properties-modal-body .price-container .add-to-cart-btn{-webkit-border-radius:0;-ms-border-radius:0;border-radius:0;color:#fff;-webkit-flex-grow:2;-webkit-box-flex:2;-moz-flex-grow:2;-ms-flex-positive:2;flex-grow:2;}
.properties-modal-body .price-container .add-to-cart-btn .material-icons{font-size:18px;position:relative;top:-2px;}
.properties-modal-body .item-mobile-footer{display:none;}
@media (max-width:920px){
.properties-modal-body.w920{height:100%;}
.properties-modal-body.w920 .scroll-container{-webkit-border-radius:0;-ms-border-radius:0;border-radius:0;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;overflow-y:auto;height:100%;}
.properties-modal-body.w920 .left-side .price-container{display:none;}
.properties-modal-body.w920 .item-mobile-footer{display:block;width:100%;position:fixed;z-index:2;}
.properties-modal-body.w920 .item-mobile-footer{bottom:0;}
.properties-modal-body.w920 .right-side{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;-moz-order:1;order:1;padding:unset;width:100%;}
.properties-modal-body.w920 .left-side{-webkit-box-ordinal-group:3;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;-moz-order:2;order:2;position:initial;-webkit-flex-grow:1;-webkit-box-flex:1;-moz-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:0;-webkit-box-flex:0;-moz-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;overflow-y:hidden;padding-bottom:110px;}
.properties-modal-body.w920 .item-name{font-size:17px;}
.properties-modal-body.w920 .properties-list{margin-top:24px;max-height:initial;overflow-y:auto;}
.properties-modal-body.w920 .shadow-indicator-scroll{-webkit-box-shadow:inset 0 -42px 42px -21px #f2f2f2;-moz-box-shadow:inset 0 -42px 42px -21px #f2f2f2;box-shadow:inset 0 -42px 42px -21px #f2f2f2;height:42px;clear:both;width:100%;position:absolute;bottom:53px;}
.properties-modal-body.w920 .properties-list{letter-spacing:-.2px;margin-left:24px;margin-right:24px;}
.properties-modal-body.w920 .item-name{line-height:1.4;padding:16px;margin:0;}
.properties-modal-body.w920 .item-description-container{padding:0 16px;}
.properties-modal-body.w920 .item-description-container .item-description{color:gray;padding:0;display:-webkit-box;margin-bottom:16px;line-height:16px;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:auto;text-overflow:ellipsis;}
.properties-modal-body.w920 .item-description-show-more-container{display:block;text-align:center;}
.properties-modal-body.w920 .item-description-show-more-container .item-description-show-more{display:block;margin-bottom:16px;}
.properties-modal-body.w920 .item-photo{border-radius:0;height:191px;margin:0;mix-blend-mode:multiply;width:100%;}
.properties-modal-body.w920 .price-container .add-to-cart-btn{min-height:54px;-webkit-border-top-right-radius:10px;-moz-border-radius-topright:10px;border-top-right-radius:10px;}
.properties-modal-body.w920 .price-container .price{padding-top:16px;-webkit-border-top-left-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px;}
}
.schedule-order-modal{padding:20px;}
.schedule-order-modal .input-box .input-field{font-size:13px;color:#1b2124;letter-spacing:1px;box-shadow:none;width:100%;padding:7px 10px;border:1px solid #ccc;background-color:#fff;-webkit-border-radius:0;-ms-border-radius:0;border-radius:0;background:url(data:image/svg+xml;utf8;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=);background-repeat:no-repeat;background-position:100% 50%;background-color:#fff;height:32px;-webkit-appearance:none;-webkit-border-radius:0;}
.schedule-order-modal .input-box .enabled{background-color:#fff;}
.schedule-order-modal .with-remove{align-items:center;justify-content:space-between;}
.schedule-order-modal .with-remove .btn-schedule-order{width:45%;white-space:normal;}
.schedule-order-modal .save-container{margin-top:30px;padding:15px;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.schedule-order-modal .save-container .btn-schedule-order{background-color:#e7083a;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.schedule-order-modal .boxalert{color:#888;margin-top:20px;}
.store-cart-box{background-color:#fff;float:right;padding:0;overflow:hidden;z-index:20;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.store-cart-box .store-unavailable-content{color:#1b2124;padding:20px;flex-direction:column;align-items:center;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.store-cart-box .store-unavailable-content .description{text-align:center;padding-bottom:20px;}
.store-cart-box .store-unavailable-content .status{color:#ce202e;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.store-cart-box .store-unavailable-content .status .icon{font-size:28px;padding:15px 15px 15px 0;margin-left:-15px;}
.store-cart-box .store-unavailable-content .status .text{text-transform:uppercase;align-self:center;font-weight:700;}
.store-cart-box .store-cart-content .checkout-content{padding:0;width:100%;}
.store-cart-box .store-cart-content .checkout-content .title{padding:10px 20px;padding-bottom:0;color:#31434a;}
.store-cart-box .store-cart-content .checkout-content .title .text{font-size:16px;font-weight:400;padding-left:10px;vertical-align:top;}
.store-cart-box .store-cart-content .checkout-content .title .material-icons{font-size:18px;}
.store-cart-box .store-cart-content .checkout-content .cart-list{border-top:1px solid #c9cdcf;border-bottom:1px solid #c9cdcf;margin:12px 20px 16px;padding:10px 0;position:relative;overflow-y:scroll;height:146px;-ms-transition:max-height .4s linear;-webkit-transition:max-height .4s linear;transition:max-height .4s linear;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item{margin:0;display:block;padding:10px 4px 10px 0;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .list-item-observations{color:#c9cdcf;font-size:12px;padding:1px 16px 1px 22px;word-wrap:break-word;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .list-item-content{font-size:12px;padding:0;display:inline-block;vertical-align:middle;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .edit-content{cursor:pointer;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .edit-content .icon{font-size:18px;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .description-content{cursor:pointer;padding-left:5px;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .description-content .title{font-size:12px;color:#31434a;padding:0;word-wrap:break-word;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .amount-content{color:#31434a;text-align:center;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .price-content{color:#31434a;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .price-content .text{float:right;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item .price-content .delete{visibility:visible;position:absolute;top:-2px;right:0;width:100%;text-align:right;opacity:0;background:linear-gradient(90deg, rgba(255, 255, 255, 0.5), #fff);-ms-transition:all .2s;-webkit-transition:all .2s;transition:all .2s;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item:hover .delete{visibility:visible;position:absolute;right:0;width:100%;text-align:right;opacity:1;background:linear-gradient(90deg, rgba(255, 255, 255, 0.5), #fff);-ms-transition:all .2s;-webkit-transition:all .2s;transition:all .2s;}
.store-cart-box .store-cart-content .checkout-content .cart-list .list-item:hover .delete .material-icons{cursor:pointer;}
.store-cart-box .store-cart-content .checkout-content .cart-info{background-color:#fff;padding:0 20px;color:#31434a;}
.store-cart-box .store-cart-content .checkout-content .cart-info .subtotal{font-size:14px;padding:4px 0 8px;}
.store-cart-box .store-cart-content .checkout-content .cart-info .subtotal .value{font-weight:700;float:right;}
.store-cart-box .store-cart-content .checkout-content .cart-info .delivery-fee{font-size:14px;padding:4px 0 8px;display:grid;grid-template-columns:auto auto;justify-content:space-between;}
.store-cart-box .store-cart-content .checkout-content .cart-info .delivery-fee .delivery-text{max-width:120px;overflow-wrap:break-word;}
.store-cart-box .store-cart-content .checkout-content .cart-info .delivery-fee .value{font-weight:700;float:right;cursor:pointer;align-self:end;}
.store-cart-box .store-cart-content .checkout-content .cart-info .total{font-size:18px;padding:10px 0 16px;}
.store-cart-box .store-cart-content .checkout-content .cart-info .total .value{font-weight:700;float:right;}
.store-cart-box ::-webkit-scrollbar{width:5px;height:initial;}
.store-cart-box ::-webkit-scrollbar-track{background-color:transparent;border-radius:10px;}
.store-cart-box ::-webkit-scrollbar-thumb{background-color:#d0d0d0;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
@media (max-width:992px){
.store-cart-box.store-cart-box{-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;border-bottom-right-radius:0;border-bottom-left-radius:0;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-top-left-radius:10px;border-top-right-radius:10px;z-index:22;}
}
@media (max-height:768px){
.address-box .address-box-content .description-container .description-box .description{max-height:75px;overflow-y:auto;}
.store-cart-box .store-cart-content .checkout-content .cart-list{max-height:146px;}
}
@media (max-height:600px){
.address-box .address-box-content{padding-top:10px;}
.store-cart-box .store-cart-content .checkout-content .cart-list{max-height:108px;}
}
.address-box{display:block;}
.address-box .address-box-content{letter-spacing:1px;padding-top:20px;}
.address-box .address-box-content .title{padding:0 20px;display:block;text-transform:uppercase;color:#c9cdcf;font-size:12px;}
.address-box .address-box-content .description-container{float:left;position:relative;padding-left:20px;padding-right:20px;padding-top:12px;padding-bottom:10px;width:100%;}
.address-box .address-box-content .description-container .edit-button{display:inline-block;vertical-align:middle;}
.address-box .address-box-content .description-container .edit-button button{top:25%;margin-left:0;}
.address-box .address-box-content .description-container .description-box{display:inline-block;vertical-align:middle;cursor:pointer;}
.address-box .address-box-content .description-container .description-box .description{display:block;font-size:13px;color:#31434a;letter-spacing:0;word-wrap:break-word;width:175px;margin-left:10px;}
.address-box .address-box-content .action{float:initial;line-height:initial;margin-left:6px;min-width:initial;padding:0;width:initial;height:initial;}
.address-box .address-box-content .action .material-icons{font-size:18px;}
.address-box .empty{background-color:#cf0a2c;font-size:13px;margin:0;opacity:1;margin-bottom:20px;-webkit-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
.address-box .empty .title{display:block;color:#fff;padding:15px;padding-top:12px;padding-bottom:10px;}
.address-box .empty .input-zipcode{color:#4b5e67;font-size:14px;border:0;padding:5px;padding-left:10px;margin:0 0 13px 15px;-webkit-border-radius:2px;-ms-border-radius:2px;border-radius:2px;width:120px;}
.address-box .empty .action{letter-spacing:1px;color:#fff;font-weight:700;font-size:12px;margin-bottom:5px;}
.address-box .empty .zipcode-loading{visibility:hidden;}
.address-box .empty .zipcode-loading,.address-box .empty .mdl-progress{width:100%;}
.address-box .empty .error{color:#fff;padding:0 15px 5px;font-size:10px;margin:0;}
.address-box .empty .change-zipcode{background:0 0;box-shadow:none;}
.address-box .use-zipcode{font-size:14px;display:block;text-decoration:underline;color:#fff;padding:20px;line-height:20px;}
.address-box--container{padding-right:0;padding-left:0;}
@media (max-width:768px){
.address-box .empty{background-color:#ed3838;}
.address-box .empty .title{padding-top:24px;padding-bottom:20px;font-size:14px;}
.address-box .address-box-content .description-container .edit-button{display:none;}
.address-box .address-box-content .description-container .description-box .description{padding-left:0;}
}
@media (max-width:920px){
.address-box{text-align:center;}
}
.table{margin-bottom:0;}
.modal{background-color:rgba(0, 0, 0, .3);overflow-y:hidden;z-index:4001;}
.modal .modal-dialog{max-width:91%;width:600px;white-space:nowrap;}
.modal .modal-dialog .modal-content{-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;display:inline-block;vertical-align:middle;white-space:normal;width:inherit;}
.modal .modal-dialog .modal-content .modal-close-content{position:absolute;top:0;width:100%;height:0;}
.modal .modal-dialog .modal-content .modal-close-content .close-button{color:#fff;cursor:pointer;font-size:36px;position:absolute;right:-35px;top:-35px;}
.modal .modal-dialog .modal-body{-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
.modal .modal-dialog .modal-header,.modal .modal-dialog .modal-footer,.modal .modal-dialog .modal-body{padding:0;}
.modal .modal-dialog .modal-header,.modal .modal-dialog .modal-footer{border:0;position:relative;padding:25px 20px 20px;}
.modal .modal-dialog .modal-footer{display:flex;justify-content:center;}
.modal .modal-dialog .modal-header-mobile{display:none;}
.modal .modal-dialog .modal-title{font-size:24px;color:#31434a;font-weight:900;}
.modal .modal-dialog .modal-title{font-weight:700;margin-top:0;}
@media (max-width:920px){
.modal.w920{padding-right:0!important;padding-left:0!important;}
.modal.w920:before{content:unset;}
.modal.w920 .modal-dialog{width:100%;height:auto;max-width:100%;}
.modal.w920 .modal-dialog .modal-content{border:0!important;background-color:#ebebeb;height:100%;padding:0;-webkit-border-radius:0;-ms-border-radius:0;border-radius:0;position:initial;top:initial;-webkit-transform:initial;-ms-transform:initial;transform:initial;}
.modal.w920 .modal-dialog .modal-close-content{display:none;}
.modal.w920 .modal-dialog .modal-body{padding:0;overflow-y:scroll;border-radius:0;height:100%;-webkit-overflow-scrolling:touch;top:0;right:0;bottom:0;left:0;z-index:30;}
.modal.w920 .modal-dialog .modal-header{padding:0;display:none;}
.modal.w920 .modal-dialog .modal-header-mobile{padding:10px;display:flex;align-items:center;justify-content:space-between;width:100%;height:44px;}
.modal.w920 .modal-dialog .modal-header-mobile .modal-header-content-back.modal-header-content-back{padding:0 10px 0 0;color:#fff;background-color:transparent;border:none;border-radius:2px;box-shadow:unset;font-family:roboto, helvetica, arial, sans-serif;font-size:14px;text-transform:uppercase;outline:none;cursor:pointer;text-align:center;vertical-align:middle;height:25px;line-height:25px;}
.modal.w920 .modal-dialog .modal-header-mobile .modal-header-content-back.modal-header-content-back .text{vertical-align:top;}
.modal.w920 .modal-dialog .modal-header-mobile .modal-header-content-back.modal-header-content-back .icon{font-size:24px;}
}
.products-section{position:relative;}
.products-section .products-section__head{padding-top:48px;}
.products-section__head{padding:64px 0 0;position:relative;}
.products-section__head__description{padding:0 10px 10px 0;position:relative;color:#292f31;width:100%;height:auto;}
.products-section__head__description .title{color:#31434a;display:inline-block;font-size:18px;font-weight:700;margin-bottom:0;margin-top:0;text-transform:uppercase;width:100%;}
.products-section__body{width:100%;height:auto;position:relative;-ms-transition:max-height .5s ease-out;-webkit-transition:max-height .5s ease-out;transition:max-height .5s ease-out;}
.products-section__body__content{padding-top:0px;}
@media (max-width:1025px){
.products-section__head__description{padding-left:16px;}
}
.items-list{width:100%;height:auto;padding:0;margin:0;overflow:visible;}
.items-list-item{-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;-webkit-box-shadow:none;box-shadow:none;background-color:#fff;min-height:116px;max-height:157;height:auto;cursor:pointer;width:48%;margin:7px 13px 7px 0;overflow:hidden;position:relative;-ms-transition:box-shadow .3s;-webkit-transition:box-shadow .3s;transition:box-shadow .3s;}
.featured-items-list .items-list-item{max-height: 210px;}
.items-list-item:hover{-webkit-box-shadow:0 2px 20px 0 rgba(0, 0, 0, .1);box-shadow:0 2px 20px 0 rgba(0, 0, 0, .1);}
.items-list-item:hover .add-btn{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-ms-transition:transform .3s;-webkit-transition:transform .3s;transition:transform .3s;}
.items-list-item .add-btn{position:absolute;right:11px;bottom:11px;width:25px;height:25px;background-color:#4cd869;padding:5px;color:#fff;-webkit-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-ms-transition:transform step-start .3s;-webkit-transition:transform step-start .3s;transition:transform step-start .3s;}
.items-list-item .add-btn .material-icons{font-size:15px;}
.items-list-item .item__left-side.item__left-side{width:inherit; -webkit-flex-grow:1;-webkit-box-flex:1;-moz-flex-grow:1;-ms-flex-positive:1;flex-grow:1;min-height:96px;color:#555;align-items:flex-start;}
.items-list-item .item__left-side.item__left-side .title,.items-list-item .item__left-side.item__left-side .description,.items-list-item .item__left-side.item__left-side .prices-container{padding-left:16px;padding-right:16px;}
.items-list-item .item__left-side.item__left-side .title{-webkit-flex-grow:0;-webkit-box-flex:0;-moz-flex-grow:0;-ms-flex-positive:0;flex-grow:0;color:#31434a;font-size:16px;font-weight:700;margin-bottom:5px;padding-top:12px;white-space:pre-line;word-break:break-word;word-wrap:break-word;}
.items-list-item .item__left-side.item__left-side .description{-webkit-flex-grow:4;-webkit-box-flex:4;-moz-flex-grow:4;-ms-flex-positive:4;flex-grow:4;color:#303030;display:-webkit-box;font-size:14px;font-weight:lighter;letter-spacing:.2px;line-height:1.4;margin-bottom:8px;overflow:hidden;white-space:pre-line;word-break:break-word;word-wrap:break-word;-webkit-box-orient:vertical;-webkit-line-clamp:4;}
.items-list-item .prices-container{display:grid;grid-template-columns:auto;font-weight:700;}
.items-list-item .prices-container .price-description{color:#767676;font-size:13px;margin-bottom:1px;font-weight:lighter;}
.items-list-item .prices-container .price-description:first-letter{text-transform:uppercase;}
.items-list-item .prices-container .price-value{color:#31434a;font-size:14px;font-weight:lighter;}
.items-list-item .item__right-side{padding-top:12px;padding-bottom:12px;padding-right:12px;}
@media (max-width:920px){
.items-list-item--mobile{width:100%;height:auto;margin:0;margin-bottom:1px;-webkit-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
.items-list-item--mobile .add-btn{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-ms-transition:transform step-start .3s;-webkit-transition:transform step-start .3s;transition:transform step-start .3s;}
}
.checkout-info{margin-top:30px;}
.checkout-info>.total{font-size:20px;font-weight:700;}
.checkout-details{-webkit-box-shadow:0 5px 5px 0 rgba(0, 0, 0, .06), 0 1px 10px 0 rgba(0, 0, 0, .06), 0 2px 4px -1px rgba(0, 0, 0, .06);box-shadow:0 5px 5px 0 rgba(0, 0, 0, .06), 0 1px 10px 0 rgba(0, 0, 0, .06), 0 2px 4px -1px rgba(0, 0, 0, .06);-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;overflow:hidden;}
.checkout-details{margin:10px 0;position:relative;}
.checkout-details .checkout-details__head{padding:0;padding-bottom:14px;display:block;width:auto;height:auto;text-transform:uppercase;}
.checkout-details .checkout-details__head .checkout-details__title{color:#818c91;font-size:13px;font-weight:300;margin-right:-18px;letter-spacing:2px;}
.checkout-details .checkout-details__head .checkout-details__title div:last-child{padding-right:18px;}
.checkout-details .checkout-details__body{position:relative;padding-top:14px;overflow-y:unset;-ms-transition:max-height .5s ease-out;-webkit-transition:max-height .5s ease-out;transition:max-height .5s ease-out;}
.checkout-details .checkout-details__body--content{padding-bottom:25px;font-size:14px;overflow:visible;}
.js-edit-checkout-details-items-list{cursor:pointer;}
.item-checkout-name-box{display:inline-block;vertical-align:middle;max-width:300px;}
.checkout-mobile .checkout-details{-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-ms-border-radius:0;border-radius:0;overflow:visible;}
.checkout-mobile .checkout-details .checkout-details__head .checkout-details__title{padding-top:15px;}
.checkout-details-items-list{width:100%;overflow:hidden;}
.checkout-details-items-list li.checkout-details-items-list-item:last-child{margin-bottom:14px;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout-price{font-size:13px;color:#292f31;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout{font-size:13px;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout .item-checkout-amount{padding-right:3px;font-weight:900;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout .title{text-transform:none;color:#292f31;font-weight:400;font-size:13px;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout .item-checkout-name-box{font-size:13px;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout .item-checkout-name-box .title{text-transform:none;color:#292f31;font-weight:400;font-size:13px;}
.checkout-details-items-list .checkout-details-items-list-item .item-checkout-delete{font-size:16px;color:#ff3b43;display:inline-block;margin-left:3px;vertical-align:text-top;cursor:pointer;}
.checkout-info.checkout-info .sub-total .text,.checkout-info.checkout-info .sub-total .value{font-size:14px;}
.checkout-info.checkout-info .discount .text,.checkout-info.checkout-info .discount .value{font-size:14px;}
.checkout-info.checkout-info .delivery-fee .text,.checkout-info.checkout-info .delivery-fee .value{font-size:14px;}
.checkout-info .sub-total{margin-top:12px;}
.checkout-info .sub-total,.checkout-info .delivery-fee,.checkout-info .discount{color:#292f31;font-size:14px;}
.checkout-info .sub-total label,.checkout-info .delivery-fee label,.checkout-info .discount label{color:#292f31;font-size:14px;font-weight:400;}
.checkout-info .total{margin:5px 0 20px;font-size:24px;font-weight:500;}
.checkout-info label{width:100%;height:100%;}
.checkout-details-items-list .input-amount{padding:0;width:30px;height:24px;}
.btn-remove-item.btn-remove-item.btn-remove-item{font-size:32px;top:-4px;left:-4px;color:#bbb;}
.btn-add-item.btn-add-item.btn-add-item{font-size:32px;top:-4px;left:-4px;color:#50b443;}
.footer-stretch{height:0;}
footer.footer.footer.footer{background-color:#fff;margin-top:110px;min-height:auto;max-width:100%;position:relative;bottom:0;left:0;right:0;float:left;z-index:20;border-top:1px solid #f2f2f2;width:100%;height:initial;}
footer.footer.footer.footer .footer-copyright{text-align:center;font-size:12px;color:#939c9f;padding-bottom:22px;padding-top:5px;}
footer.footer.footer.footer .footer-copyright .copyright-separator{color:rgba(0, 0, 0, .35);}
footer.footer.footer.footer .footer-copyright a{text-decoration:none;color:#939c9f;}
@media (max-width:920px){
footer.footer.footer.footer .footer-copyright{padding-left:15px;padding-right:15px;}
}
.categories-filter{color:#31434a;padding:10px 10px 10px 0;}
.categories-filter .dropdown-toggle{background-color:#fff;border:1px solid gray;color:#acb3b6;padding:10px;width:234px;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;text-align:left;}
.categories-filter .dropdown-toggle .caret{float:right;margin-top:7px;}
.categories-filter .dropdown-menu.dropdown-menu.dropdown-menu{border:0;display:block;margin-top:0;min-width:initial;padding:0;overflow:hidden;text-transform:uppercase;text-align:left;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;width:0;height:0;-ms-transition:height .25s ease-in-out, width .25s ease-in-out;-webkit-transition:height .25s ease-in-out, width .25s ease-in-out;transition:height .25s ease-in-out, width .25s ease-in-out;}
.categories-filter .dropdown-menu.dropdown-menu.dropdown-menu a{padding:8px 16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.categories-filter .dropdown-menu.dropdown-menu.dropdown-menu a:hover{color:#31434a;}
.items-search-bar-header{display:inline-block;vertical-align:middle;width:646px;margin-left:35px;}
.items-search-bar-header .items-search{border:1px solid #eee;}
.items-search-bar-home{float:left;padding:0 16px 0 0;}
.items-search-bar-home .categories-filter{padding:0;}
.items-search-bar-home .items-search{margin:0 0 0 10px;}
.items-search-bar{background-color:transparent;}
.items-search-bar input{outline:none;border:0 solid;}
.items-search-bar .items-search{float:right;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;}
@media (max-width:1025px){
.items-search-bar-home{padding-left:16px;}
}
@media (max-width:991px){
.items-search-bar-home{width:100%;}
.categories-filter{width:84%;}
.items-search-bar-fixed .search-button{background-color:transparent;float:right;padding:3px;margin-right:-1px;position:relative;outline:none;}
.items-search-bar-fixed .return-button{background-color:transparent;float:left;margin-left:-6px;padding:8px;width:10%;}
.items-search-bar-fixed .items-search{border:1px solid #ccc;color:#acb3b6;float:right;margin-right:-5px;padding:10px;width:89%;}
.without-promo-box-mobile .categories-filter{width:86%;}
.without-promo-box-mobile .search-button{top:14px;}
.header-fixed{padding:5px 10px 0;}
.header-fixed .search-button{background:#fff;float:right;padding:5px;position:relative;outline:none;}
.header-fixed .return-button{background:#fff;float:left;margin:15px 0 0 5px;padding:5px;width:10%;}
.header-fixed .items-search{border:1px solid #eee;color:#acb3b6;float:right;margin-top:10px;padding:10px;margin-bottom:10px;width:85%;}
.header-fixed .categories-filter{padding:10px;margin:auto;}
.header-fixed .categories-filter select{margin-top:5px;}
.header-fixed .categories-filter .dropdown-toggle{font-size:14px;font-weight:400;margin-top:5px;margin-left:5px;padding-top:5px;padding-bottom:5px;width:100%;}
.header-fixed .categories-filter .categories-filter__dropdown-menu{font-size:10px;}
.header-fixed .categories-filter .dropdown-menu.dropdown-menu.dropdown-menu{font-size:14px;font-weight:400;margin-left:17px;padding:0;}
.header-fixed .categories-filter .dropdown-toggle.dropdown-toggle>.js-selected{max-width:130px;}
}
.items-search{background-color:#fff;float:left;margin:10px;margin-right:6px;padding:10px;padding-right:24px;position:relative;width:234px;height:41px;}
.items-search input::placeholder{color:#acb3b6;}
.items-search input:-ms-input-placeholder{color:red;}
.items-search .icon{color:#31434a;cursor:pointer;right:0;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.items-search .icon.icon-search{cursor:default;}
.store-custom-menu{border-bottom: 1px solid #e9e9e9;margin:120px 0 10px;padding:0;align-items:flex-end;position:relative;display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.store-custom-menu-itens-mobile.store-custom-menu-itens-mobile{overflow-x:auto;overflow-y:hidden;height:46px;}
.store-custom-menu-itens-mobile.store-custom-menu-itens-mobile::-webkit-scrollbar{opacity:0;}
.store-custom-menu-itens-mobile.store-custom-menu-itens-mobile .store-custom-menu-itens{width:auto;}
.store-custom-menu-itens{font-size:14px;line-height:17px;margin-right:16px;}
.store-custom-menu-itens li:first-child{margin-left:0;}
.store-custom-menu-itens.mobile{display:-webkit-box;display:-moz-box;display:-webkit-flexbox;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row;margin-right:0;}
.store-custom-menu-itens.mobile>.menu-item{text-align:center;position:relative;}
.store-custom-menu-itens>.menu-item{display:inline-block;vertical-align:middle;position:relative;padding-bottom:15px;margin:0 15px;}
.store-custom-menu-itens>.menu-item>.custom-border-bottom{position:absolute;bottom:0;width:100%;border-bottom:2px solid #000;display:none;}
.store-custom-menu-itens>.menu-item.selected{font-weight:900;line-height:17px;}
.store-custom-menu-itens>.menu-item.selected a{color:#31434a;text-decoration:none;}
.store-custom-menu-itens>.menu-item.selected a:hover{text-decoration:none;}
.store-custom-menu-itens>.menu-item.selected>.custom-border-bottom{display:block;}
.store-custom-menu-itens>.menu-item>a{color:#31434a;text-decoration:none;}
@media (max-width:920px){
.store-custom-menu{border-bottom: unset;}
.store-custom-menu-itens.mobile>.menu-item{margin:0;background:#f2f2f2;white-space:nowrap;flex-grow:0;flex-shrink:0;flex-basis:auto;}
}
@media (min-width:921px) and (max-width:1025px){
.store-custom-menu{padding-left:16px;}
}
.store-contact_us{min-height:400px;}
.store-contact_us-col-right{padding-top:20px;padding-right:0;padding-left:0;}
.store-contact_us-lbl{font-size:18px;line-height:22px;color:#31434a;margin-bottom:13px;display:block;}
.store-contact_us-box{background-color:#fff;-webkit-border-radius:10px;-ms-border-radius:10px;border-radius:10px;padding:24px;}
.store-contact_us-box.store-telephone{font-size:18px;line-height:22px;color:#1b2124;}
.store-contact_us-box.store-telephone>i{display:inline-block;vertical-align:middle;}
.store-contact_us-box.store-telephone>span{padding-left:10px;display:inline-block;vertical-align:middle;}
.store-contact_us-box.store-telephone>span a{color:inherit;text-decoration:none;}
.loyaltyprogram-progressbar-box{-webkit-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
.loyaltyprogram-progressbar-box .truncated{display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;}
.loyaltyprogram-progressbar-box>.infobox-title{padding:2px 0 10px;font-size:18px;line-height:22px;color:#31434a;font-weight:700;}
.loyaltyprogram-progressbar-box>.infobox-description{font-size:13px;line-height:16px;color:#545454;word-break:break-word;overflow-y:hidden;max-height:100px;}
.loyaltyprogram-progressbar-box>.infobox-subtitle>.order-done{text-transform:uppercase;font-size:12px;line-height:15px;letter-spacing:2px;}
.storeinfo{position:relative;}
.storeinfo>.storeinfo-header{min-height:213px;position:absolute;top:-180px;}
.mobile-storeinfo{background-color:#f2f2f2;box-shadow:0 0 7px 0 rgba(0, 0, 0, .15);position:relative;}
.mobile-storeinfo h1{font-size:18px;font-weight:700;line-height:22px;color:#31434a;margin:0px 0px 15px 0px;}
.mobile-storeinfo h1 a{color:#31434a;}
.mobile-storeinfo>h2{font-size:12px;font-weight:400;text-align:center;line-height:15px;color:#767676;margin:7px 0;}
.mobile-storeinfo-logo{position:relative;width:80px;height:30px;}
.mobile-storeinfo-logo>img{width:70px;height:70px;position:absolute;top:-70px;}
.mobile-storeinfo-business_hour-box{margin-bottom:2px;top:10px;right:15px;}
.mobile-storeinfo-business_hour-box>div{display:inline-block;vertical-align:middle;}
.mobile-storeinfo-business_hour-box>.status{color:#4cd869;font-size:12px;}
.mobile-storeinfo-business_hour-box>.status>a{text-decoration:none;color:#4cd869;}
.mobile-storeinfo-business_hour-box>.status>a>i{font-size:14px;display:inline-block;vertical-align:middle;}
.mobile-storeinfo-business_hour-box>.status>a>span{display:inline-block;vertical-align:middle;}
/*! CSS Used from: http://localhost/delivery//css/sp.css */
.header-cover-photo{background-position:center;background-repeat:no-repeat;background-size:cover;}
.form-control.form-control.form-control.form-control.form-control:focus{border-color:#66afe9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.cart-schedule-order .action-color,.store-cart-box .action-color,.store-cart-box .trending-up{color:#00793d;}
.btn-to-schedule .action-color{color:#00793d;}
.items-list-item .title.title.title.title{color:#00793d;}
.store-custom-menu-itens .menu-item .custom-border-bottom{border-bottom:2px solid #00793d;}
.modal-title.modal-title{color:#00793d;}
.modal-header-mobile.modal-header-mobile.modal-header-mobile{background-color:#00793d;}
.increase .material-icons,.decrease .material-icons,.price,.item-name{color:#00793d;}
.add-to-cart-btn{background:#00793d;}
.btn-delete-color{color:#00793d;}
.btn-delete-color-text{color:#1B2124;}
.btn-iconed-action.btn-iconed-action{background-color:#00793d;}
.loyaltyprogram-progressbar-box .infobox-subtitle{color:#00793d;}
.mdl-progress.mdl-progress__indeterminate>.bar1,.mdl-progress.mdl-progress__indeterminate>.bar3{background-color:#00793d;}
.mdl-progress>.bufferbar{background-image:linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,#00793d,#00793d);}
.mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar{background-image:linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,#00793d,#00793d);}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{color:#00793d;}
.mdl-textfield__label:after{background-color:#00793d;}
.mdl-textfield.is-focused .mdl-textfield__label:after{background-color:#00793d;}
/*! CSS Used from: http://localhost/delivery//css/custom.css?1615640841 */
.icon-arrow-down-mobile{right:30px;font-size:32px;position:absolute;}
.boxEnderecoMobileInforme{display:none;}
.icon-arrow-down-mobile{transform:rotate(0deg);transition:transform 0.4s linear;}
.color-settings-secondary.color-settings-secondary.color-settings-secondary{color:#00793d;}
.containerCarrinhoMobile{display:none;}
.itemCarrinhoMobile{width:33%;text-align:center;margin:10px 0px;}
.containerLogoRodapeDesktop{padding-top:6px;}
.containerPedidoPendenteFlutuante{text-align:center;position:fixed;font-family:cursive;z-index:999;right:30px;bottom:30px;cursor:pointer;}
.divPedidoPendenteFlutuante{background:white;border-radius:50%;width:68px;height:68px;margin:0 auto;}
.divPedidoPendenteFlutuante img{padding:4px;width:68px;height:68px;}
.logoQuandoMobile{display:none;}
.value.js-delivery-fee-value{text-align:right;}
.endEntrega{display:block;margin:0 auto;margin-bottom:-12px;font-size:15px;color:#fff;padding-top:10px;}
.btnAgendamentoLojaFechada{background:#17a2b8;height:44px;width:100%;display:flex;align-items:center;justify-content:center;margin:0 auto;}
.btnAgendamentoLojaFechada:hover,.btnAgendamentoLojaFechada:active{background-color:#36b3c6!important;}
.btnAgendamentoLojaFechada span.text{font-weight:bold;margin-left:10px;color:#fff;font-size:13px;letter-spacing:1px;}
.containerSabores{width:100%;}
.logoRodape{text-align:center;}
.rodapeLogo{width:87px;}
.botaoAgendaEntregaModalMobile.mdl-button:hover{background-color:#17a2b8;}
.botaoAgendaEntregaModalMobile.mdl-button:active{background-color:#17a2b8;}
.botaoAgendaEntregaModalMobile.mdl-button:hover{background-color:#17a2b8;}
#body-store .cart-schedule-order{text-transform:uppercase;color:#292f31;text-align:center;font-size:12px;display:flex;padding:0px 0px 10px 0px;justify-content:center;}
#body-store .cart-schedule-order .btn-to-schedule{background:#17a2b8;height:44px;width:100%;}
#body-store .btn-to-schedule .action-color{color:#ffffff;margin-left:10px;}
#body-store .cart-schedule-order .action .text{font-weight:bold;color:#fff;font-size:13px;letter-spacing:1px;}
.botaoAgendaEntregaModalMobile{text-align:center;color:white;height:44px;margin-bottom:15px;background:#17a2b8;}
.mdl-textfield.mdl-textfield.is-focused .mdl-textfield__label{color:#363636;font-size:12px;font-weight:bold;}
.box-address.modalFinalizarPedido .actions .btn-submit{float:right;}
.mdl-textfield.mdl-textfield .mdl-textfield__label{letter-spacing:1px;}
.containerOpcoesRetirada{width:320px;padding:10px;padding-top:0px;display:flex;margin:0 auto;align-items:center;justify-content:center;}
.containerVoltarOpcoes{display:flex;align-items:center;justify-content:center;padding:6px;text-align:center;cursor:pointer;}
.itemOpcaoRetirada{cursor:pointer;padding:15px;font-size:18px;background:#00793d;border-radius:30px;margin:12px;margin-top:0px;color:white;text-align:center;}
.itemOpcaoRetirada:hover{background:#40c282;}
#modalPedidoPendente .modal-content{border:6px solid green;}
#modalCep .description.zip-description{text-align:center;}
#modalCep .modal-header h4{font-family:sans-serif;font-size:24px;}
#modalCep .modal-header{padding:25px 30px 20px;text-align:center;}
#modalCep{z-index:9999;}
.expandCategoria{cursor:pointer;}
.opcaoTrocoSpan{font-weight:500;font-size:15px;}
.opcaoTroco{padding-right:10px;float:left;}
.trocoQuanto{width:175px;}
.campoInputData{display:none;}
.alterarData,.alterarHorario{font-size:13px;cursor:pointer;display:none;color:#0000EE;}
.horarioAgendamento{display:none;}
.schedule-order-modal .input-box .input-field{background:unset;background-color:#dbdbdb;border-radius:5px;}
.botaoEntregaAgendadaDesktop{background-color:#e9e9e9;}
.botaoEntregaAgendadaDesktop button:hover{background-color:#e9e9e9;}
.listaToggle{display:none;}
.listaToggle.active{display:block;}
#modal-pedido .modal-content{top:15%;max-width:800px;margin:0 auto;border-radius:10px;padding:10px;}
@media (max-width: 920px){
.containerOpcoesRetirada,.containerOpcaoRetirada{padding-top:60px;}
.containerOpcoesRetirada .itemOpcaoRetirada{width:230px;}
.headerEntregaMobile{padding-bottom:14px;}
.containerAdicionais{margin-bottom:100px;}
#modalPedidoPendente .modal-dialog{width:100%;}
#modalPedidoPendente .linkWhatsappPedido a{padding-bottom:20px;}
.containerBoxPedidoPendente{padding:20px 0px 0px 0px;}
.properties-modal-body.w920 .item-photo{border-radius:0;height:191px;margin:0 auto;mix-blend-mode:multiply;width:auto;}
.box-fechamento{height:100%;}
.checkout-info label{height:unset!important;}
}
.contanierEsquerdoInfosProd{height:auto;overflow:auto;padding-bottom:0px!important;}
.js-item-description.item-description{max-height:95px;overflow:auto;}
@media (max-width: 767px){
.properties-modal-body.w920 .item-description-container .item-description{display:block!important;}
}
.btn-cupom{width:100%;margin-bottom:1rem;}
.roxo{background-color:#572e68!important;}
.input-field{position:relative;margin-top:1rem;margin-bottom:1rem;}
.fechar-pedido{background-color:#73c501!important;width:100%;margin-bottom:1rem;}
.btn{text-decoration:none;color:#fff;text-align:center;letter-spacing:.5px;-webkit-transition:background-color .2s ease-out;transition:background-color .2s ease-out;cursor:pointer;}
.branco{background-color:#fff!important;}
.input-field{position:relative;margin-top:1rem;margin-bottom:1rem;}
.card-content.box-fechamento p{margin-bottom:0.2rem;}
.center-align{text-align:center;}
.card-content.box-fechamento p{margin-bottom:0.2rem;}
.center-align{text-align:center;}
img.responsive-img{max-width:100%;height:auto;}
.center-block{display:block;margin-left:auto;margin-right:auto;}
img{border-style:none;}
.box-fechamento{padding-top:10px;padding-right:10px;padding-left:10px;}
.items-list-item .prices-container .price-value{color:#73c501;font-weight:bold;}
.containerCarrinho1{background-color:gainsboro;}
.containerCarrinho2{background-color:white;}
@media (max-width: 920px){
.containerCarrinho1{padding:unset;}
.checkout-details{margin-bottom:unset;}
.box-fechamento{padding-top:5px;}
}
.products-section{display:flow-root;}
.address-box .empty{margin-bottom:unset;}
.campoCupom{text-align:center;margin-top:unset;}
.imgBandeirasCartoes{padding:15px;}
.btn.btn-cupom.roxo:hover{color:#dbdbdb!important;}
.container-logo-nome-mobile{width:35%;float:left;}
.container-horario-taxa-mobile{width:58%;float:right;margin-top:12px;}
.mobile-storeinfo-business_hour-box span{color:#6f6e6f;font-weight:600;}
.containerCarrinhoMobile{display:flex;align-items:center;justify-content:space-between;border:1.5px solid #CACACA;}
.itemCarrinhoMobile{width:33%;text-align:center;margin:6px 0px;}
.itemCarrinhoMobile svg{width:100%;fill:#b2b2b2;}
.itemCarrinhoMobile span{color:#7a7a7a;font-size:13px;}
.mobile-storeinfo-logo>img{width:95px;height:95px;}
.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante img{box-shadow:1px 1px 10px;border-radius:50%;}
@media (max-width: 920px){
.containerDoContainerInfosPizza{max-height:unset;}
.containerPedidoPendenteFlutuante span{font-size:12px;box-shadow:1px 1px 4px 0px;background:#ebebebeb;font-weight:bold;padding:1px;line-height:1.8;border-radius:3px;}
.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante,.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante img{width:50px;height:50px;}
.containerPedidoPendenteFlutuante .divPedidoPendenteFlutuante img{box-shadow:1px 1px 10px;border-radius:50%;}
.containerPedidoPendenteFlutuante{right:15px;bottom:60px;}
.divPedidoPendenteFlutuante{margin-top:4px;}
}
.labelSabores{display:inline-block;width:100%;text-align:center;font-size:18px;color:#aa1f18;}
.containerInformacoesPizza{height:auto;overflow:auto;}
.left-side.containerInformacoesPizza{padding-bottom:0px!important;}
.containerQtdSabores{text-align:center;margin:5px 0px 15px 0px;font-size:15px;display:block;}
@media (max-width: 992px){
.containerCarrinhoMobile{display:flex;align-items:center;justify-content:space-between;border:1px solid #CACACA;}
.color-settings-secondary.color-settings-secondary.color-settings-secondary{color:#fff;}
.store-custom-menu.store-custom-menu{margin:0px}
#ItemsSearchBar{background:var(--cor-faixa-principal-mobile);;padding:12px;}
.products-section .products-section__head{padding-top:30px;}
.store-custom-menu-itens.mobile{background:#fff;}
.item-ponta-esquerda.selected a{border-bottom:3px solid #fff;}
.sub-ponta-esquerda a{border-bottom:3px solid blue;}
.sub-ponta-direita a{border-bottom:3px solid green;}
.item-ponta-direita a{border-bottom:3px solid red;}
.menu-item.selected.item-ponta-esquerda{background:#92276f;border-top-right-radius:10px;}
.store-custom-menu-itens>.menu-item a{margin:10px 12px 5px 12px;display:block;font-weight:bold;}
.categories-filter{width:100%;}
.items-search-bar-fixed .search-button{right:48px;position:absolute;}
.items-search-bar-fixed .search-button i{font-size:38px;}
}
.box-btWhats{position:fixed;left:240px;bottom:30px;z-index:50;}
@media (max-width: 767px){
.box-btWhats{bottom:60px;left:10px}
}
/*! CSS Used keyframes */
@-webkit-keyframes indeterminate1{0%{left:0%;width:0%;}50%{left:25%;width:75%;}75%{left:100%;width:0%;}}
@keyframes indeterminate1{0%{left:0%;width:0%;}50%{left:25%;width:75%;}75%{left:100%;width:0%;}}
@-webkit-keyframes indeterminate2{0%{left:0%;width:0%;}50%{left:0%;width:0%;}75%{left:0%;width:25%;}100%{left:100%;width:0%;}}
@keyframes indeterminate2{0%{left:0%;width:0%;}50%{left:0%;width:0%;}75%{left:0%;width:25%;}100%{left:100%;width:0%;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}
