<!-- Modal -->
<div id="conteudoEtiquetaAlerta">
  <style>
  /* css etiqueta */
  html,body{
    margin:0px;
    padding:0px;
  }
  .sabores, .adicionais{
    display: list-item;
    list-style: inside;
  }
  .txtEtiqueta .itensPedido .produto{
    padding-top: 20px;
    padding-left: 20px;
  }
  .txtEtiqueta .itensPedido .produto:last-child{
    padding-bottom: 20px;
  }
  .nomeProduto{
    text-decoration: underline;
  }
  .itensSabores span, .itensAdicionais span{
    display: list-item;
    list-style: inside;
    list-style-type: circle;
    padding-left: 25px;
  }
  .etiqueta{
    width: 400px;
    height: auto;
    margin:0 7px;
    overflow: hidden;
    z-index: 1;
    float:left;
    font-family: arial;
  }
  .etiqueta .bloco:first-child{
    margin-top:0;
  }
  .etiqueta .bloco{
    width: auto;
    font-size:15px;
    color:#C00;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px 0 0 0;
    position:relative;
  }
  .etiqueta .bloco .txtEtiqueta{
    color:#000;
    margin:3px 0 0 0;
  }
  .etiqueta .bloco .imgEtiqueta span.inativo{
    display:none;
  }
  .etiqueta .bloco .imgEtiqueta span.ativo{
    display: table-cell;
  }
  .etiqueta .bloco .imgEtiqueta span{
    vertical-align:middle;
    display:table-cell;
  }
  .etiqueta .bloco .imgEtiqueta{
    width: 100%;
    height:60px;
    text-align: center;
    display:table;
    vertical-align:middle;
  }
  .etiqueta .bloco .imgEtiqueta img{
    vertical-align:middle;
  }
  .etiqueta .tracejado{
    width: 100%;
    border-bottom: 2px dashed #000;
    margin: 5px 0 0 0;
  }
  .impressora{
    float: right;
    cursor: pointer;
  }
  .selos{
    text-align: left;
    float: left;
  }
  @media print {
    .selos, .impressora {
      visibility: hidden;
    }
  }
  .text-center{
    text-align: center;
  }
  .fancyVerEtiquetaMultiestoque{
    padding-left: 30px;
    font-size: 11px;
    color: blue;
    cursor: pointer;
  }
  .fancybox-slide--iframe .fancybox-content{
    overflow: hidden !important;
    border-radius: 10px !important;
  }
  .nomeEstabelecimento{
    font-weight: bold;
    font-size: 20px;
    height: 20px;
  }
  </style>

  <!-- conteudo etiqueta -->
  <div style="width: 310px;max-width:100%;max-height: 900px;height: auto;" class=" pace-done">
    <div class="pace  pace-inactive">
      <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
      </div>
      <div class="pace-activity"></div>
    </div>
    <div id="fancyTamanhoEtiqueta" style="text-align:left;">
      <div class="etiqueta" style="width: 300px;">
        <div class="bloco">
          <div class="txtEtiqueta"><b>Pedido:</b> #{{id}} <span class="idPedido"></span></div>
          <div class="txtEtiqueta"><b>Data:</b> {{data_pedido}}<span class="dataHoraPedido"></span></div>
        </div>
        <div class="tracejado"></div>
        <div class="bloco">
          <div class="imgEtiqueta">
            {{imgEtiqueta}}
          </div>
        </div>
        <div class="bloco">
          <div class="txtEtiqueta text-center"><b>Dados Cliente:</b></div>
          {{agendamentoEntrega}}
          <div class="txtEtiqueta" style="padding-top: 5px;"><b>Nome:</b> <span class="nomeCliPedido"> {{nome_cliente}}</span></div>
          <div class="txtEtiqueta"><b>Contato:</b> <span class="telCliPedido"> {{whats_cliente}}</span></div>
          <div class="txtEtiqueta"><b>Endereco:</b> <span class="endCliPedido">{{endereco}}</span></div>
          {{pontoReferencia}}
          <div class="txtEtiqueta"><b>Itens Pedido:</b>
            <div class="itensPedido">{{itensPedido}}</div>
          </div>
          <div class="txtEtiqueta"><b>Pagamento: </b><span class="pagamentoCliPedido">{{tipo_pagamento}}</span></div>
          {{cupomUtilizado}}
          {{descontoCupom}}
          <div class="txtEtiqueta"><b>Taxa Entrega: </b>R$ <span class="taxaEntrega">{{taxa_entrega}}</span></div>
          <div class="txtEtiqueta"><b>Total a Pagar: </b>R$ <span class="valorCliPedido">{{total_pedido}}</span></div>
          <div class="txtEtiqueta"><b>Troco: </b><span class="trocoCliPedido">{{troco}}</span></div>
        </div>
      </div>

      <div style="width: 295px; float:left; margin: 10px;">
        <div class="impressora{{alerta}}">
          <i class="fas fa-print"></i>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
