<li id="items-list-item-{{id}}" tipo-produto="{{tipo}}" id-tamanho="{{idTamanho}}" class="items-list-item js-featured-item-tooltip items-list-featured items-list-featured--{{classeBotaoProduto}} mdl-button__ripple-container mdl-js-ripple-effect js-add-cart js-click-item items-list-item--mobile" data-status="ACTIVE" data-price="{{valor}}" data-description="{{descricao}}" data-category_id="{{id_categoria}}" data-id="{{id}}" data-item-name="{{nome}}" data-name="{{nome}}">
  <div class="item-content">
    <div class="item__left-side">
      <p class="title">{{nome}}</p>
      <div>
        <p class="description">{{descricao}}</p>
      </div>
      <p>
      </p>
      <div class="prices-container">
        <div class="to-price">
          <span class="price-description">
          </span>
          <span class="price-value">
          {{preLabelValor}}  R${{valor}} </span>
        </div>
      </div>
      <p></p>
    </div>
    <div class="item__right-side carousel slide" data-ride="carousel" id="myCarousel-{{id}}">

      <!-- Content -->
      <div class="carousel-inner">
        {{imagensProduto}}
      </div>

    </div>
  </div>
  <span class="add-btn">
    <i class="material-icons">add</i>
  </span>
  <div class="featured-tag featured-{{classeBotaoProduto}}" data-id="{{id}}">
    {{labelProduto}} </div>
  <span class="mdl-ripple"></span>
</li>
