<div class="col-mobile-12 col-desktop-9 medium-transition listaToggle cardapio active">
  <div class="js-featured-items-content featured-items clearfix js-featured-items featured-items-desktop" style="display:inline-block;">
    <div class="featured-items__head js-featured-items-head products-section expandCategoria" data-ga="featured-items-title">
      <h2 class="title d-inline" style="vertical-align:super;display:inline;">Destaques</h2>
      <span class="material-icons">expand_more</span>
    </div>
    {{destaques}}
  </div>
</div>
