<div class="featured-items__body" {{visibilidadeCategoria}}>
  <div class="featured-items__body__content products-section">
    <ul class="featured-items-list">
      {{itens}}
    </ul>
  </div>
</div>
