<div class="containerCheckboxPizza">
  <input type="checkbox" id-sabor="{{id}}" class="checkboxSaborPizza" name="" id="sabor-{{id}}" value="">
  <label for="sabor-{{id}}" class="custom-control-label checkmark"></label>
  <label for="sabor-{{id}}" class="spanSabor">{{label}}</label>
</div>
<div class="containerDescPreco">
  <div class="description col-mobile-12 col-desktop-10 descricaoPizza">
    <span class="">{{descricao}}</span>
  </div>
  <div class="col-desktop-2" style="text-align:center;">
    <span>R${{preco}}</span>
  </div>
</div>
<br>
