<div class="containerChamadaEnderecoMobile" style="{{visibilidadeCep}}">
  <span>VER ENDEREÇO DE {{labelRetirada}}</span>
  <span class="material-icons icon-arrow-down-mobile">
    keyboard_arrow_down
  </span>
</div>
<div class="container-fluid boxEnderecoMobileInforme">
  <div class="row visible-mobile-block">
    <div class="col-xs-12 address-box--container">
      <div class="address-box js-address-box js-mobile-address-box">
        <div class="empty js-address-content-empty">
          <span class="endEntrega">Endereço de <span class="labelEnderecoDe">{{labelRetirada}}</span>:</span>
          {{endereco}}
        </div>
      </div>
    </div>
  </div>
</div>
