<div class="txtEtiqueta" style="padding-top: 5px;">
  <b>Agendamento de Entrega</b>
  <!-- <span class="nomeCliPedido"> {{nome_cliente}}</span> -->
</div>
<div class="txtEtiqueta">
  <b>Data entrega:</b>
  <span class="nomeCliPedido"> {{data_agendamento}}</span>
</div>
