<div class="containerItemDataAgendamento {{ativo}}">
  <button id-dia="{{diaSemana}}" data="{{data}}" data-sem-formatar="{{dataSemFormatar}}" type="submit" name="button" {{ativo}}>
    <span>{{label}}</span><br>
    <span>{{data}}</span>
    {{indisponivel}}
  </button>
</div>
