<div class="containerItemHorarioAgendamento">
  <span class="spanAvisoHorarios">Horários das <b>{{inicia}}</b> até <b>{{termina}}</b></span>
  <div class="containerItensHorario">
    {{itens}}
  </div>
</div>
