<div class="form-group d-flex" style="padding: 15px 0px;">
  <div class="col-md-3 d-flex">
    <label for="tipo" style="width:55%;">Quantidade sabores:</label>
    <input type="text" style="width:100px;" class="form-control" name="qtdSabores" value="{{qtdSabores}}">
  </div>
  <div class="col-md-2">
    <a href="javascript:void(0)">
      <label id="lblProdutoPizzaEstruturaFormulario" style="cursor:pointer;" id-produto="{{idProduto}}" data-toggle="modal" data-target="#modalSabores" class="vincularSaboresModal">Vincular Sabores</label>
    </a>
  </div>
  <div class="col-md-5">
    <a href="javascript:void(0)">
      <label for="tipo" style="width:37%;">Tamanho (Pizza / Esfiha):</label>
      <select class="" name="idTamanho">
        {{tamanhosPizza}}
      </select>
    </a>
  </div>
</div>
