<div class="containerPedido{{id}}">
  <div class="card-tools {{margin}}">
    <button type="button" data-target="#conteudoPedido{{id}}" class="btn btn-tool botaoAbrirDetalhesPedido" data-card-widget="collapse">
      <i class="fas fa-plus"></i>
    </button>
    <h3 class="card-title" style="display:contents;">Pedido {{id}} - R$ {{total_pedido}}</h3>{{entregaAgendada}}
    <i class="far fa-check-circle botaoVisualizarPedido {{visibilidadePedidoVisualizar}}" data-id-pedido="{{id}}"></i>
    <i class="fas fa-check-square botaoAceitarPedido {{visibilidadePedidoAceitar}}" data-id-pedido="{{id}}"></i>
    <i class="fas fa-window-close botaoNegarPedido {{visibilidadePedidoAceitar}}" data-id-pedido="{{id}}"></i>
    <div class="botarImprimirPedido">
      <a data-fancybox data-type="ajax" target="_blank" data-src="{{linkEtiqueta}}" href="javascript:void(0)">
        <i class="fas fa-file iconeImprimirEtiqueta"></i>
        <span class="botaoImprimirEtiquetaPedido">Imprimir Etiqueta</span>
      </a>
    </div>
  </div>
  <div class="obsPedido {{visibilidadePedidoAceitar}} {{visibilidadeCampoObservacao}}">
    <a href="javascript:void(0)" class="deixarObsAoCliente" data-id-pedido="{{id}}">Deixar uma observação para o cliente?</a>
    <div class="camposObsPedido" id="containerCamposPedido{{id}}">
      <label for="obsAoCliente{{id}}">Observação: </label>
      <textarea name="obsPedido" id="obsAoCliente{{id}}" rows="5" cols="55"></textarea>
    </div>
  </div>
  <div id="conteudoPedido{{id}}" class="conteudoPedido">
    <ul>
      <li><b>Cliente:</b> {{nome_cliente}}</li>
      <li><b>Endereço:</b> {{endereco}}</li>
      <li><b>Pedido:</b> {{pedido}}</li>
      <li><b>Entrega:</b> {{taxa_entrega}}</li>
      {{agendadoPara}}
    </ul>
  </div>
</div>
