<div class="containerNossoEndereco">
  <h3 class="headerBuscarMobile hidden-lg hidden-md text-center"><b>Nosso Endereço:</b></h3>
  <span class="itemEndereco"><b>Endereço:</b> {{endereco}}</span>
  <span class="itemEndereco"><b>Cidade:</b> {{cidade}} - {{uf}}</span>
  <span class="itemEndereco"><b>CEP:</b> {{cep}}</span>
  <div class="containerBtnConfirmarRetirada">
    <button type="button" class="btn btnConfirmarRetirada" name="button">Confirmar</button>
  </div>
  <span class="containerVoltarOpcoes">
    <span class="material-icons">keyboard_backspace</span>
    Voltar para opções
  </span>
</div>
