<div id="products-section-{{id}}" class="products-section clearfix js-products-section" data-category_id="{{id}}">
  <div id="products-section-head-{{id}}" data-id="products-section-head-{{id}}" data-has_image="" class="products-section__head js-products-section-head">
    <div class="products-section__head__description expandCategoria">
      <h2 style="vertical-align:super;display:inline;" class="title hidden-md hidden-lg">{{nomeCatMobile}}</h2>
      <h2 style="vertical-align:super;display:inline;" class="title hidden-xs hidden-sm">{{nome}}</h2>
      <span class="material-icons">expand_more</span>
    </div>
  </div>
  <div id="products-section-{{id}}-body" class="products-section__body" style="display:{{visibilidadeCategorias}};">
    <div class="products-section__body__content">
      <ul id="items-list-{{id}}" class="items-list">
        {{produtos}}
      </ul>
    </div>
  </div>
</div>
