<li id="items-list-item-{{id}}" class="items-list-item js-items-list-item-tooltip items-list-item--mobile" title=""
  data-status="ACTIVE" data-category_id="{{idCategoria}}" tipo-produto="{{tipo}}" id-tamanho="{{idTamanho}}" data-description="{{descricao}}" data-id="{{id}}" data-item-name="{{nome}}" data-name="{{nome}}" data-numeric_price="0" data-price="{{valor}}"
  data-view_order="1" data-ref="items-list-item-{{id}}" data-base_price="0" data-ga-action="item__view" data-ga-category="item" data-cover_photo="" data-cy="items-list__item-{{id}}">
  <div class="item__left-side">
    <p class="title">{{nome}}</p>
    <p class="description">{{descricao}}</p>
    <p>
      <div class="prices-container">
        <div class="to-price">
          <span class="price-description">
            </span>
          <span class="price-value">
            {{preLabelValor}} R$ {{valor}} </span>
        </div>
      </div>
    </p>
  </div>
  <div class="item__right-side carousel slide" data-ride="carousel" id="myCarousel-{{id}}">

    <!-- Content -->
    <div class="carousel-inner">
      {{imagensProduto}}
    </div>

  </div>
  <span class="add-btn">
    <i class="material-icons">add</i>
  </span>
  <span class="mdl-ripple"></span>
</li>
