<div class="containerCheckboxPizza">
  <input type="checkbox" id-adicional="{{id_adicional}}" class="checkboxAdicional" name="adicional-{{id_adicional}}-{{id_produto}}" id="adicional-{{id_adicional}}-{{id_produto}}" value="">
  <label for="adicional-{{id_adicional}}-{{id_produto}}" class="custom-control-label checkmark"></label>
  <label for="adicional-{{id_adicional}}-{{id_produto}}" class="spanSabor">{{label}}</label>
</div>
<div class="containerDescPreco">
  <div class="description col-mobile-12 col-desktop-10 descricaoPizza">
    <span class="">{{descricao}}</span>
  </div>
  <div class="col-desktop-2" style="text-align:center;">
    <span>R${{preco_adicional}}</span>
  </div>
</div>
<br>
