<div class="containerAdicionaisItens containerAdicional-{{id_grupo}}" data-qtd-min-adicionais="{{qtd_min_grupo}}" data-qtd-max-adicionais="{{qtd_max_grupo}}">
  <span class="labelSabores paddingAdicionais" nome-grupo="{{nome_grupo}}">{{nome_grupo}}</span><br>
  <span class="containerQtdSabores">{{labelQtdMinMax}}</span>
  {{adicionais}}
</div>
